<div class="container">
  <div class="row">
    <div class="col-md-5 col-sm-12 offset-md-1 offset-lg-1 offset-sm-0 mb-2 mt-5">
      <button mat-raised-button color="default" routerLink="/dashboard/employment-w4-form">
        <span class="icon-arrow-left2"></span>
        Back To W4 Form
      </button>
    </div>
    <div class="col-md-5 col-sm-12">
      <app-exit-modal-component class="float-sm-none float-md-right mb-md-2 mb-sm-0 mt-md-5 mt-sm-0"></app-exit-modal-component>
    </div>
  </div>
</div>
<app-employment-form
  [dataValues]="formValues"
  [steps]="steps"
  [showNextButton]="false"
  [showBackButton]="false"
  (formSubmit)="onFormSubmit($event)">
</app-employment-form>
