<div class="docs-width">
  <h1 style="border-bottom:2px solid #000;padding-bottom:1px;">Waiver of Right to Trial By Jury</h1>
  <h3>PLEASE READ THIS AGREEMENT CAREFULLY.  BY SIGNING THIS AGREEMENT, BOTH YOU AND THE COMPANY ARE WAIVING CERTAIN RIGHTS TO HAVE YOUR DISPUTES DECIDED BY A JURY IN COURT.</h3>
  <p>As a condition of my application for employment and my employment, I, the undersigned, hereby agree that any and all disputes arising out of my employment with the Company (as identified below) shall be resolved solely by a trial before a Court without a jury. </p>
  <p>I agree that this Waiver of Right to Trial by Jury (“Jury Trial Waiver”) shall govern and apply to the resolution of all claims and/or disputes between and among myself and the Company, including but not limited to claims concerning: </p>
  <div class="listofagrement">
    <p class="ol-50">1)</p>
    <p class="ol-100">Any federal, state, or local laws, regulations, rules, or statutes prohibiting employment discrimination (such as, without limitation, race, color, sex, national origin, age, disability, and/or religion), harassment, and/or retaliation;</p>
    <p class="ol-50">2)</p>
    <p class="ol-100">Any federal, state, or local laws, regulations, rules, or statutes regarding failure to hire or wrongful termination;</p>
    <p class="ol-50">3)</p>
    <p class="ol-100">Any alleged or actual agreement, contracts, or covenants (oral, written, or implied);</p>
    <p class="ol-50">4)</p>
    <p class="ol-100">Any claim for personal, emotion, physical, or economic injury; and</p>
    <p class="ol-50">5)</p>
    <p class="ol-100">Any and all other claims, injuries, or disputes related to or arising from my employment with the Company, including but not limited to claims pertaining to negligent hiring, negligent firing, negligent training, assault, invasion of privacy, drug testing, and all other employment torts.</p>
  </div>
  <p style="float:left;width:100%;">However, this Agreement <u>specifically excludes</u> the following claims:</p>
  <div class="listofagrement">
    <p class="ol-50">1)</p>
    <p class="ol-100">Any claims that arise under the National Labor Relations Act or are otherwise within the jurisdiction of the National Labor Relations Board;</p>
    <p class="ol-50">2)</p>
    <p class="ol-100">Any claims for workers’ compensation or unemployment compensation benefits, except that claims of retaliation or discrimination connected with workers’ compensation claims are subject to a waiver of a right jury trial; and</p>
    <p class="ol-50">3)</p>
    <p class="ol-100">Claims by the Company against me for injunctive relief to protect the Company’s and/or its client’s confidential information, trade secrets, or other proprietary information, including actions to enforce rights pursuant to the Confidentiality Agreement I have signed. </p>
  </div>
  <p style="float:left;width:100%;">I agree that such disputes will be resolved by <b><u>a bench trial (a Judge) without a jurya bench trial (a Judge) without a jury</u></b> as my <u><b>sole and exclusive remedy</b></u>.</p>
  <p>I further agree that I will pursue any claim relating to my employment with the Company (or any of its subsidiaries or related entities) as an individual, and will not lead, join, or serve as a member of a class or group of persons bringing such a claim or lawsuit. If a court finds that the this paragraph of this agreement is invalid or unenforceable, the parties specifically agree that the remainder of this Agreement shall remain in effect and be enforceable and that I am not entitled to a jury trial.                  </p>
  <p>I understand and acknowledge that this agreement is issued with the authority of the Company and is binding on the Company.  I understand and acknowledge that this agreement will become effective on me and on the Company after I sign it and accept any offer of employment from or with the Company. <b> I understand and acknowledge that the Company also agrees to rely on a bench trial without a jury, in the same manner, for any claims that the Company believes it has against me that arise from or relate to my employment with the Company.</b>  I understand and agree that each party shall bear its own cost of any such trial, unless the Judge in whose court the trial is being held rules otherwise.                  </p>
  <p>I understand and agree that if a Court finds that this waiver of a right to a jury trial is invalid or unenforceable, or that any part of this waiver of a right to a jury trial is found to be invalid or unenforceable, that resolution of all claims and/or disputes between and among myself and the Company, including but not limited to claims listed herein, will be decided by arbitration pursuant to the Arbitration Agreement that I have signed.  </p>
  <p>I further understand and agree that between the two agreements, unless the Company and I otherwise agree in writing, the resolution of all claims and/or disputes between and among myself and the Company, including but not limited to claims listed herein, will be decided by a Court, sitting <u>without a jury</u>.</p>
  <div class="w-70">
    <img *ngIf="getValue('yourSignature.signature') !== 'No Value'" [src]="getValue('yourSignature.signature')" alt="">
    <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;">
      Applicant/Employee Signature
    </p>
    <span class="data-value">
      {{getPrintName()}}
    </span>
    <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;">
      Applicant/Employee Name
    </p>
    <span class="data-value">
      {{getValue('basicInformation.ssn')}}
    </span>
    <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;">
      Applicant/Employee Social Security Number
    </p>
  </div>
  <div class="w-30">
    <p style="border-bottom:1px solid #000;margin:0px;padding-bottom:0;padding-top: 12px;">Accepted:<b style="font-size: 18px">Pacesetter Personnel Services</b>.</p>
    <p style="padding: 5px 0 0 0 ;margin-top:0px;">
      Company
    </p>
    <p style="border-top:1px solid #fff;padding-top: 5px;margin-top:35px;">
      &nbsp;
    </p>
    <span class="data-value">
      {{getTodayDate()}}
    </span>
    <p style="border-top:1px solid #000;padding-top: 5px;margin-top:35px;">
      Today’s Date
    </p>
  </div>
</div>
