<div class="docs-width">
  <h1 style="border-bottom:2px solid #000;padding-bottom:1px;">Transportation Agreement</h1>
  <p class="ol-100">
    I acknowledge that I have been advised by {{siteNamingConvention.full}} that once I am assigned to a particular job/customer/work site, it is my responsibility to arrive at that job/customer/work site by the time designated in my Time Ticket. In order to arrive at the job at the time designated, I understand and agree that I have the following options from which I may choose regarding transportation to the particular job/customer/work site:
  </p>
  <div style="float: left; width:100%;padding-left:50px;padding-top:30px;">
    <p class="ol-50">1.</p>
    <p class="ol-100"><b><u>My Own Transportation</u></b> At my sole discretion, I will provide my own transportation
      and agree to comply with state laws, including but not limited to maintaining a valid current driver’s license,
      maintaining current vehicle registration and insurance where legally required and complying with all laws
      regarding the non-operation of a vehicle under the influence of alcohol or drugs. I understand that I am not
      required to drive and transport other workers to any job; however, at my sole discretion, I may voluntarily
      transport others to and from job sites and that I am not required to drive anyone. </p>
  </div>
  <div style="float: left; width:100%;padding-left:50px;padding-top:30px;">
    <p class="ol-50">2.</p>
    <p class="ol-100"><b><u>Public Transportation</u></b> I will take public transportation.</p>
  </div>
  <div style="float: left; width:100%;padding-left:50px;padding-top:30px;">
    <p class="ol-50">3.</p>
    <p class="ol-100"><b><u>Transportation Provided by {{siteNamingConvention.full}}</u></b> {{siteNamingConvention.full}}
      Services may, at the Company’s sole discretion, provide transportation to and/or from a particular
      job/customer/work site. If such transportation is available, I may, at my sole discretion, request to use that
      transportation. I understand that if I am being transported by {{siteNamingConvention.full}} that I am free to
      utilize the time spent travelling to and from the particular job/customer/work site as I choose as I am not
      considered on the clock until I begin work at the jobsite. I understand and acknowledge that such transportation
      to the job site is provided for my benefit and at my request, not the benefit of the Company. I understand that
      {{siteNamingConvention.full}} will charge me an amount not less than $1.50 each way for a maximum of $3.00 per
      round trip. I agree these charges are reasonable and I hereby authorize the Company to deduct such charges from my
      daily pay.<i> (Fee structure not applicable in all states, including but not limited to Georgia)</i>.</p>
  </div>
  <div style="float: left; width:100%;padding-left:50px;padding-top:30px;">
    <p class="ol-50">4.</p>
    <p class="ol-100"><b><u> Transportation Provided by a Coworker</u></b> At my sole discretion, I may choose to
      receive transportation to and/or from a particular job/customer/work site from a coworker. I understand that I am
      not required to ride with a coworker. I hereby authorize {{siteNamingConvention.full}} to deduct from my daily pay
      an amount of no less than $1.50 each way (for a maximum of $3.00 round trip) for my share of the transportation
      cost to be reimbursed to the coworker who provided the transportation. This exact reimbursement amount will be
      transferred by the Company to the coworker that provided the transportation. The Company will not retain this
      charge. I agree that the amount charged is reasonable. I acknowledge and agree this deduction of the
      transportation reimbursement from my paycheck by the Company is reasonable and is an accommodation to me. I
      understand and acknowledge that such a service by the Company is for my benefit.</p>
  </div>
  <div style="float: left; width:100%;padding-left:50px;padding-top:30px;">
    <p class="ol-50">5.</p>
    <p class="ol-100">As a result of my choice of transportation above, I waive any right to bring any action against
      the Company under State or Federal law relating to the cost of transportation to and/or from a job site.</p>
  </div>
  <div style="float: left; width:100%;padding-left:50px;padding-top:30px;">
    <p class="ol-50">6.</p>
    <p class="ol-100">I understand and agree that the hours I work and my pay are determined from the time I begin working at the customer's
      establishment and end once the work is completed at the customer's establishment. I further understand and agree that the
      time spent waiting for assignments at Pacesetter Personnel Services, as well as travel time from Pacesetter Personnel
      Services to the customer's establishment and back, is not compensable work time.
      </p>
  </div>
  <div class="w-70">
    <span class="data-value">
      {{getSignaturePlaceholder()}}
    </span>
    <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;">
      Applicant/Employee Signature
    </p>
    <span class="data-value">
      {{getValue('basicInformation.birthDate', true)}}
    </span>
    <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;">
      Date of Birth
    </p>
    <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;">
      Applicant/Employee Signature
    </p>
  </div>
  <div class="w-30">
    <span class="data-value">
      {{getValue('basicInformation.socialSecurityNo')}}
    </span>
    <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;">
      Social Security Number
    </p>
    <span class="data-value">
      {{getTodayDate()}}
    </span>
    <p style="border-top:1px solid #000;padding-top: 5px;margin-top:35px;">
      Today’s Date
    </p>
  </div>
</div>
