<div class="w4-pages">
  <div class="form-width">
    <div class="w4-employ-page3">
      <!-- Page header: Form W-4 (2020) | Page 3 -->
      <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td class="border-top border-bottom">
            <span class="bold">Form W-4 (2020)</span>
          </td>
          <td class="border-top border-bottom text-right" width="80">
            <span class="bold">Page 3</span>
            <img width="30" src="/assets/img/pencil.png" alt="" style="vertical-align: middle; margin-left: 4px;">
          </td>
        </tr>
      </table>
      <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td class="border-bottom text-center" colspan="2">
            <h4>Step 2(b)—Multiple Jobs Worksheet <span>(Keep for your records.)</span></h4>
          </td>
        </tr>
      </table>
      <p>
        If you choose the option in Step 2(b) on Form W-4, complete this worksheet (which calculates the total extra tax
        for all jobs) on <span class="bold">only ONE</span> Form W-4. Withholding will be most accurate if you complete
        the worksheet and enter the result on the Form W-4 for the highest paying job. To be accurate, submit a new
        Form W-4 for all other jobs if you have not updated your withholding since 2019.
      </p>
      <p>
        <span class="bold">Note:</span> If more than one job has annual wages of more than $120,000 or there are more
        than three jobs, see Pub. 505 for additional tables; or, you can use the online withholding estimator at
        <a href="https://www.irs.gov/W4App" target="_blank">www.irs.gov/W4App</a>.
      </p>
      <table width="100%" cellpadding="5" cellspacing="0">
        <tr>
          <td>
            <ol class="bold">
              <li>
                <p><span class="bold">Two jobs.</span> If you have two jobs or you're married filing jointly and you and
                  your spouse each have one job, find the amount from the appropriate table on page 5. Using the "Higher
                  Paying Job" row and the "Lower Paying Job" column, find the value at the intersection of the two
                  household salaries and enter that value on line 1. Then, <span class="bold">skip</span> to line 3
                  . . . . . . . . . . . . . . . . . . . . .</p>
              </li>
            </ol>
          </td>
          <td width="150" class="v-bottom">
            <p class="price-border"><span class="bold">1</span> $ </p>
          </td>
        </tr>
        <tr>
          <td>
            <ol start="2" class="bold">
              <li>
                <p><span class="bold">Three jobs.</span> If you and/or your spouse have three jobs at the same time,
                  complete lines 2a, 2b, and 2c below. Otherwise, skip to line 3.</p>
              </li>
            </ol>
          </td>
          <td width="150" class="v-bottom">
          </td>
        </tr>
      </table>
      <table width="100%" style="padding-left: 25px;" cellpadding="5" cellspacing="0">
        <tr>
          <td>
            <ol type="a" class="bold">
              <li>
                <p>
                  Find the amount from the appropriate table on page 5 using the annual wages from the highest paying
                  job in the "Higher Paying Job" row and the annual wages for your next highest paying job in the "Lower
                  Paying Job" column. Find the value at the intersection of the two household salaries and enter that
                  value on line 2a . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
                </p>
              </li>
            </ol>
          </td>
          <td width="150" class="v-bottom">
            <p class="price-border"><span class="bold">2a</span> $ </p>
          </td>
        </tr>
        <tr>
          <td>
            <ol type="a" start="2" class="bold">
              <li>
                <p>
                  Add the annual wages of the two highest paying jobs from line 2a together and use the total as the
                  wages in the "Higher Paying Job" row and use the annual wages for your third job in the "Lower Paying
                  Job" column to find the amount from the appropriate table on page 5 and enter this amount on line 2b
                  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
                </p>
              </li>
            </ol>
          </td>
          <td width="150" class="v-bottom">
            <p class="price-border"><span class="bold">2b</span> $ </p>
          </td>
        </tr>
        <tr>
          <td>
            <ol type="a" start="3" class="bold">
              <li>
                <p>
                  Add the amounts from lines 2a and 2b and enter the result on line 2c . . . . . . . . . . . . . . . . .
                  . .
                </p>
              </li>
            </ol>
          </td>
          <td width="150" class="v-bottom">
            <p class="price-border"><span class="bold">2c</span> $ </p>
          </td>
        </tr>
      </table>
      <table width="100%" cellpadding="5" cellspacing="0">
        <tr>
          <td>
            <ol start="3" class="bold">
              <li>
                <p>
                  Enter the number of pay periods per year for the highest paying job. For example, if that job pays
                  weekly, enter 52; if it pays every other week, enter 26; if it pays monthly, enter 12, etc.
                  . . . . . . . . . .
                </p>
              </li>
            </ol>
          </td>
          <td width="150" class="v-bottom">
            <p class="price-border"><span class="bold">3</span></p>
          </td>
        </tr>
        <tr>
          <td>
            <ol start="4" class="bold">
              <li>
                <p>
                  <span class="bold">Divide</span> the annual amount on line 1 or line 2c by the number of pay periods
                  on line 3. Enter this amount here and in Step 4(c) of Form W-4 for the highest paying job (plus any
                  other additional amount you want withheld) . . . . . . . . . . . . . . . . . . . . . . . . . .
                </p>
              </li>
            </ol>
          </td>
          <td width="150" class="v-bottom">
            <p class="price-border"><span class="bold">4</span> $ </p>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
