<div class="docs-width">
  <h1 style="border-bottom:2px solid #000;padding-bottom:1px;">Prohibited Work Policy</h1>
  <h4>THE FOLLOWING TYPES OF WORK ARE PROHIBITED.</h4>
  <div style="float: left; width:100%;padding-top:15px;">
    <p class="ol-50">1.</p>
    <p class="ol-100"><b><u>Garbage Truck Collection</u></b> - We do not work on garbage trucks. We do not do curbside
      trash pick-up. </p>
  </div>
  <div style="float: left; width:100%;padding-top:15px;">
    <p class="ol-50">2.</p>
    <p class="ol-100"><b><u>Iron/Steel Erection</u></b> - We do not work on Red Iron. We do not perform steel erection
    </p>
  </div>
  <div style="float: left; width:100%;padding-top:15px;">
    <p class="ol-50">3.</p>
    <p class="ol-100"><b><u>Auto Auction and Heavy Equipment</u></b> - We DO NOT provide drivers to auto auction and heavy equipment 
       auction customers.
    </p>
  </div>
  <div style="float: left; width:100%;padding-top:15px;">
    <p class="ol-50">4.</p>
    <p class="ol-100"><b><u>Class A, B, C or CDL Drivers</u></b> - Labor offices are not permitted to provide any class
      of drivers. Skilled offices please refer to the Skilled Personnel Division Driving Policy for guidelines to supply
      these types of drivers. </p>
  </div>
  <div style="float: left; width:100%;padding-top:15px;">
    <p class="ol-50">5.</p>
    <p class="ol-100"><b><u>Work Above Ground</u></b> - Our Company has a <u>six-(6) feet height limitation</u>. Our workers must 
      not ever be higher than six feet off the ground level or a working surface. (Example: 3rd Floor office building floor,
      6 feet off the floor). All companies requesting workers to be more than six feet off the ground must have 
      their jobsites pre-inspected and approved by the Safety Department prior to servicing. </p>
  </div>
  <div style="float: left; width:100%;padding-top:15px;">
    <p class="ol-50">6.</p>
    <p class="ol-100"><b><u>Body Harnesses and Lanyards</u></b> - Any work requiring a body harness or lanyard is
      prohibited unless pre-inspected and approved by the Safety Department prior to servicing. </p>
  </div>
  <div style="float: left; width:100%;padding-top:15px;">
    <p class="ol-50">7.</p>
    <p class="ol-100"><b><u>Roofs</u></b> - All roofing companies requesting workers must be pre-inspected and approved
      by the Safety Department prior to servicing. We do not send our employees to work on roof tops. We do send workers
      to roofing companies for ground work only. </p>
  </div>
  <div style="float: left; width:100%;padding-top:15px;">
    <p class="ol-50">8.</p>
    <p class="ol-100"><b><u>Hydroblasting</u></b> - This is ultra high pressure water or sand blasting. We do work with pressurized water, provided the PSI
      rating of the equipment being used does not exceed 4500 PSI. 
       </p>
  </div>
  <div style="float: left; width:100%;padding-top:15px;">
    <p class="ol-50">9.</p>
    <p class="ol-100"><b><u>Scaffolding</u></b> - All scaffold companies requesting workers or any jobsite where
      scaffold is present must be pre-inspected and approved by the Safety Department prior to servicing. Our employees
      do not erect or dismantle scaffold. Our employees may work on the 1st level of scaffold (6' feet off the ground)
      only. </p>
  </div>
  <div style="float: left; width:100%;padding-top:15px;">
    <p class="ol-50">10.</p>
    <p class="ol-100"><b><u>USL&H / Jones Act Work</u></b> - We do not work on docks and ships. We do not work in, directly adjacent to or over water.
      Any work that can be characterized as a maritime activity (loading and unloading of ships, the construction or dismantling
      of vessels, the repair of vessels) is strictly prohibited. We can consider work that is in proximity to water. Please contact
      Safety for a pre-inspection prior to servicing. </p>
  </div>
  <div style="float: left; width:100%;padding-top:15px;">
    <p class="ol-50">11.</p>
    <p class="ol-100"><b><u>Demolition (heavy)</u></b> - This is the destruction of major buildings or large structures.
      We do not do this type of work. Light demolition work must be preapproved by the Safety Department. </p>
  </div>
  <div style="float: left; width:100%;padding-top:15px;">
    <p class="ol-50">12.</p>
    <p class="ol-100"><b><u>Tunneling</u></b> - This is the construction or digging of underground tunnels, shafts,
      chambers, and passageways. </p>
  </div>
  <div style="float: left; width:100%;padding-top:15px;">
    <p class="ol-50">13.</p>
    <p class="ol-100"><b><u>Asbestos Abatement</u></b> - We do not do asbestos removal. </p>
  </div>
  <div style="float: left; width:100%;padding-top:15px;">
    <p class="ol-50">14.</p>
    <p class="ol-100"><b><u>Mold Removal</u></b> - We do not clean up mold. </p>
  </div>
  <div style="float: left; width:100%;padding-top:15px;">
    <p class="ol-50">15.</p>
    <p class="ol-100"><b><u>Chemicals</u></b> - We do not work with or around heavy industrial chemicals. We will work with or around basic consumer type
      chemicals used for cleaning purposes.  </p>
  </div>
  <div style="float: left; width:100%;padding-top:15px;">
    <p class="ol-50">16.</p>
    <p class="ol-100"><b><u>Tree Trimming</u></b> - We do not trim trees where employees are required to climb into
      trees or use ladders to gain access to upper portions of the tree. </p>
  </div>
  <div style="float: left; width:100%;padding-top:15px;">
    <p class="ol-50">17.</p>
    <p class="ol-100"><b><u>Heavy Equipment/Motorized Equipment</u></b> - We do not operate these kinds of equipment.
    </p>
  </div>
  <div style="float: left; width:100%;padding-top:15px;">
    <p class="ol-50">18.</p>
    <p class="ol-100"><b><u>Digging and/or Trenching</u></b> - We do not dig holes and/or trenches at a depth of greater
      than 4 feet. In addition, our employees are prohibited from performing any task that requires them to climb down
      into existing holes and/or trenches that exceed a depth of 4 feet. </p>
  </div>
  <div style="float: left; width:100%;padding-top:15px;">
    <p class="ol-50">19.</p>
    <p class="ol-100"><b><u>Railroad Cars</u></b> - We do not dig holes and/or trenches at a depth of greater
      than 4 feet. In addition, our employees are prohibited from performing any task that requires them to climb down
      into existing holes and/or trenches that exceed a depth of 4 feet. </p>
  </div>
  <p>
    <b><u>NOTE:</u></b> Any customer who is violating our prohibited work policy must be reported immediately by you.
    (The only exceptions are job sites that have been inspected and approved by our Safety Department)
  </p>
  <p>The Safety Department is ready to assist you with any questions or situations you may have.</p>
  <p style="text-align: center;"><span style="color:red;">SAFETY HOTLINE</span>(877) 828-0202</p>
  <p><b>I understand and agree that failure to abide by the policy above will lead to disciplinary action up to and
    including termination.</b></p>
  <div class="w-3030">
    <span class="data-value">
      {{getPrintName()}}
    </span>
    <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;">
      Applicant/Employee Print Name
    </p>
  </div>

  <div class="w-3030">
    <span class="data-value" style="margin-left: 30px">
      {{getSignaturePlaceholder()}}
    </span>
    <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;margin-right: 30px;margin-left: 30px;">
      Applicant/Employee Signature
    </p>
  </div>
  <div class="w-3030">
    <span class="data-value">
      {{getTodayDate()}}
    </span>
    <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;">
      Today’s Date
    </p>
  </div>
  <hr style="float: left; width:100%;border-color: #000;border-width: 0.5px;">

</div>
