<ng-container [ngSwitch]="true">

  <!--Text Field-->
  <ng-container *ngSwitchCase="field.type === 'text'">
    <div [ngClass]="{'row': !field.isFullColumnField}">
      <div class="col-1 d-flex align-items-center justify-content-center" *ngIf="field.showFieldNumber">
        <span>{{field.showFieldNumber}}</span>
      </div>
      <mat-form-field class="mb-3" [ngClass]="{'col-md-6 col-lg-6 col-12': !field.isFullColumnField, 'w-100': field.isFullColumnField}">
        <input matInput
               [type]="field.type"
               [mask]="field.isMasked ? field.mask : ''"
               [validation]="field.isMasked"
               [showMaskTyped]="field.isMasked"
               [clearIfNotMatch]="false"
               [formControl]="field.formControl"
               [placeholder]="field.label"
               (blur)="onTextBlur()"
               [ngClass]="{'text-uppercase': field.isUppercase}"
               [minLength]="field.minLength"
               [maxLength]="field.maxLength"
               [required]="field.required"
               [email]="!!field.isEmail"
        >
        <mat-error *ngIf="field.formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div [ngClass]="{'row': !field.isFullColumnField}" *ngIf="field.bottomText">
      <div class="text-center" *ngIf="field.bottomText" [ngClass]="{'col-md-6 col-lg-6 col-12': !field.isFullColumnField,'w-100': field.isFullColumnField}">
        <p><b>--{{field.bottomText}}--</b></p>
      </div>
    </div>
  </ng-container>

  <!--Number Field-->
  <ng-container *ngSwitchCase="field.type === 'number'">
    <mat-form-field class="mb-3" [ngClass]="{'w-50': !field.isFullColumnField, 'w-100': field.isFullColumnField}">
      <input matInput
             [type]="field.type"
             [placeholder]="field.label"
             [min]="field.minValue"
             [max]="field.maxValue"
             [formControl]="field.formControl"
             [required]="field.required"
      >
      <mat-error *ngIf="field.formControl.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </ng-container>

  <!-- Date Picker Field -->
  <ng-container *ngSwitchCase="field.type === 'date'">
    <mat-form-field class="mb-3" [ngClass]="{'w-50': !field.isFullColumnField, 'w-100': field.isFullColumnField}" [hintLabel]="dateFormat">
      <input matInput
             [formControl]="field.formControl"
             [matDatepicker]="picker"
             [max]="field.maxValue"
             [min]="field.minValue"
             (dateChange)="onDateChange()"
             [required]="field.required"
             [placeholder]="field.label">
      <mat-error *ngIf="field.formControl.invalid">{{getErrorMessage()}}</mat-error>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker startView="multi-year" touchUi #picker [disabled]="false"></mat-datepicker>
    </mat-form-field>
  </ng-container>

  <!--Radio Button Field-->
  <ng-container *ngSwitchCase="field.type === 'radioButton'">
    <label [ngClass]="{
    'mat-error': field.formControl.hasError('required')
    }">
      {{field.label}} {{field.required ? '*' : ''}}
    </label>
    <mat-radio-group class="d-flex flex-column"
                     [formControl]="field.formControl"
                     (change)="handleOnChangeActions()"
                     [required]="field.required">
      <mat-radio-button *ngFor="let option of field.options" class="mt-2 mb-2" [value]="option.value">
        {{option.label}}
      </mat-radio-button>
      <mat-error
        class="mat-form-field-subscript-wrapper"
        *ngIf="field.formControl.hasError('required')"
      >{{getErrorMessage()}}</mat-error>
    </mat-radio-group>
  </ng-container>

  <!--Drop Down field-->
  <ng-container *ngSwitchCase="field.type === 'dropdown'">
    <div [ngClass]="{'row': !field.isFullColumnField}">
      <div class="col-1 d-flex align-items-center justify-content-center" *ngIf="field.showFieldNumber">
        <span>{{field.showFieldNumber}}</span>
      </div>
      <mat-form-field class="mb-3" [ngClass]="{'col-md-6 col-lg-6 col-12': !field.isFullColumnField, 'w-100': field.isFullColumnField}">
        <mat-label>{{field.label}}</mat-label>
        <mat-select
          [required]="field.required"
          [formControl]="field.formControl">
          <mat-option
            *ngFor="let option of field.options;"
            [value]="option.value">{{option.label}}</mat-option>
        </mat-select>
        <mat-error *ngIf="field.formControl.invalid" >{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
  </ng-container>

  <!--Group Field-->
  <ng-container *ngSwitchCase="field.type === 'group'">
    <div class="mt-3 mb-3 w-100 group-container">
      <mat-label>{{field.label}}</mat-label>
      <div class="row">
        <ng-container *ngFor="let value of field.groupValues; let i = index;">
          <div class="col-md-6 col-sm-12 col-lg-6 mt-3 mb-3">
            <mat-card>
              <mat-card-content>
                <div class="row ml-1">
                  <ng-container *ngFor="let key of objectKeys(value); let j = index;">
                    <div class="col-12">
                      <small class="text-muted">
                        {{startCase(key)}}
                      </small>
                    </div>
                    <div class="col-12">
                      <h6>{{formatGroupValue(value[key]) || '-'}}</h6>
                    </div>
                  </ng-container>
                </div>
              </mat-card-content>
              <mat-divider></mat-divider>
              <div class="row pl-2 pt-2">
                <div class="col-12 ">
                  <mat-card-actions class="m-0">
                    <button mat-raised-button color="danger" (click)="onGroupItemRemoved(i)">Remove</button>
                    <button mat-raised-button color="primary" (click)="onGroupItemClicked(i)">Edit</button>
                  </mat-card-actions>
                </div>
              </div>

            </mat-card>
          </div>
        </ng-container>
        <ng-container *ngIf="!field.groupValues.length">
          <div class="d-flex justify-content-center align-items-center w-100 h-100 p-5">
            <p class="h6 text-muted">
              Click
              <button mat-raised-button color="primary" (click)="onGroupNewGroupAdd()">
                {{field.controlLabels.buttons.add}}
              </button>
            </p>
          </div>
        </ng-container>
      </div>
      <div class="w-100 mt-5 mb-3 text-right" *ngIf="field.groupValues.length">
        <button mat-raised-button color="primary" (click)="onGroupNewGroupAdd()">
          {{field.controlLabels.buttons.add}}
        </button>
      </div>
    </div>
  </ng-container>

  <!--Document Field-->
  <ng-container *ngSwitchCase="field.type === 'document'">
    <app-panzoom [componentToPan]="field.componentRef" [formData]="formData" [field]="field"></app-panzoom>
    <div class="row">
      <div class="col-12 col-md-4 col-lg-4 mb-4 text-left">
        <button mat-raised-button (click)="stepper.previous()" [hidden]="stepper.selectedIndex === 0">
          Back
        </button>
      </div>
      <div class="col-6 col-md-4 col-lg-4 text-sm-left text-md-center text-lg-center">
        <button mat-raised-button [color]="field.canDisagree ? 'primary' : 'warn'" (click)="handlerDocumentDisagree()">
          {{this.field.controlLabels.buttons.disagree}}
        </button>
      </div>
      <div class="col-6 col-md-4 col-lg-4 text-right">
        <button mat-raised-button color="primary" (click)="handleStepperNext(true)">
          {{this.field.controlLabels.buttons.agree}}
        </button>
      </div>
    </div>
  </ng-container>

  <!--Submit Field-->
  <ng-container *ngSwitchCase="field.type ==='submit'">
    <div class="row">
      <div class="col text-left">
        <button mat-raised-button (click)="stepper.previous()">Back</button>
      </div>
      <div class="col text-right">
        <button mat-raised-button color="primary" [disabled]="isSubmitting || field.formControl.parent.invalid" (click)="submitForm.emit()">{{field.label}}</button>
      </div>
    </div>
  </ng-container>

  <!--Signature Field-->
  <ng-container *ngSwitchCase="field.type ==='signature'">
    <div class="w-100 mt-3 mb-3">
      <app-signature-pad [fc]="field.formControl" [canClear]="isSubmitting"></app-signature-pad>
    </div>
    <div class="w-100 mt-1 mb-1">
      <mat-error *ngIf="field.formControl.invalid">{{getErrorMessage()}}</mat-error>
    </div>
  </ng-container>

  <!--Display Field-->
  <ng-container *ngSwitchCase="field.type ==='displayValue'">
    <div class="mt-3 mb-3" [ngClass]="{'w-50': !field.isFullColumnField, 'w-100': field.isFullColumnField}">
      <h6>{{field.label}}</h6>
      <p>{{processValueAccessor()}}</p>
    </div>
  </ng-container>

  <!--Verification Control-->
  <ng-container *ngSwitchCase="field.type ==='verificationControls'">
    <div class="row">
      <div class="col-6 text-left">
        <button mat-raised-button (click)="handleVerificationLinkClick()">
          {{field.controlLabels.buttons.back}}
        </button>
      </div>
      <div class="col-6 text-right">
        <button mat-raised-button color="primary" (click)="field.formControl.setValue(true);stepper.next()">
          {{field.controlLabels.buttons.verify}}
        </button>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #onDisagreeModalTemplate>
  <h1 mat-dialog-title>Are you sure?</h1>
  <div mat-dialog-content>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>
            You employment with Pacesetter Personnel Services is contingent upon Your acceptance of the Company's
            Policies and Procedures.
            If you do not accept these terms you can not be placed on assigment.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="text-right">
    <div class="w-100 text-right">
      <button mat-raised-button color="warn" [mat-dialog-close]="true">Confirm to Disagree</button>
      <button mat-raised-button color="primary" [mat-dialog-close]="false">Cancel</button>
    </div>
  </div>
</ng-template>

<ng-template #directDepositPopUp>
  <h1 mat-dialog-title>NOTE</h1>
  <div mat-dialog-content>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>
            Direct deposit may not be available for all locations.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="text-right">
    <div class="w-100 text-right">
      <button mat-raised-button color="primary" [mat-dialog-close]="false">OK</button>
    </div>
  </div>
</ng-template>
