<div class="docs-width">
  <h1 style="border-bottom:2px solid #000;padding-bottom:1px;">Welcome to PPS Company Policies and Procedures</h1>
  <h6>BELOW IS A LIST OF IMPORTANT FACTS TO HELP YOU BE SUCCESSFUL IN YOUR ENDEAVORS. <u>PLEASE READ THEM CAREFULLY</u>.
    IF YOU HAVE ANY QUESTIONS, PLEASE ASK FOR HELP.</h6>
  <div style="float: left; width:100%;padding-top:15px;">
    <p class="ol-50">1.</p>
    <p class="ol-100"><b>NO CALL/NO SHOW/NO JOB!!!</b>If you are unable to report to an assignment or wish to cancel,
      you must call Pacesetter Personnel Services two (2) hours prior to the start time of a job assignment. All no
      calls/no shows are subject to immediate termination.</p>
  </div>
  <div style="float: left; width:100%;padding-top:15px;">
    <p class="ol-50">2.</p>
    <p class="ol-100">If PACESETTER PERSONNEL SERVICES does not dispatch you to a jobsite, then PACESETTER PERSONNEL
      SERVICES is not obligated to pay hours accrued at the jobsite. PACESETTER PERSONNEL SERVICES is not responsible
      for paying you for the hours that you worked at that jobsite. </p>
  </div>
  <div style="float: left; width:100%;padding-top:15px;">
    <p class="ol-50">3.</p>
    <p class="ol-100">DO NOT CONTACT PACESETTER PERSONNEL SERVICES CLIENTS. Any questions should be directed to
      PACESETTER PERSONNEL SERVICES regarding assignment or interviews. All grievances will be handled through
      Pacesetter Personnel Services.</p>
  </div>
  <div style="float: left; width:100%;padding-top:15px;">
    <p class="ol-50">4.</p>
    <p class="ol-100">DO follow all policies and procedures of Pacesetter Personnel Services and the client to which you
      are assigned. </p>
  </div>
  <div style="float: left; width:100%;padding-top:15px;">
    <p class="ol-50">5.</p>
    <p class="ol-100">Personal cell phones and other handheld personal devices (tablets, laptops, gaming, etc.) are not
      to be used during scheduled work hours. If you need to use your personal cell phone or other hand held devices do
      it during an authorized break or during lunch break. Please informyour family and friends about this policy. Some
      flexibility may be given in case of an emergency that requires immediate attention. PPS is not responsible for
      lost or stolen phones or other devices. Keep in mind, some customer prohibit the use of cell phones and/or other
      devices on their sites.</p>
  </div>
  <div style="float: left; width:100%;padding-top:15px;">
    <p class="ol-50">6.</p>
    <p class="ol-100">All Pacesetter Personnel Services employees are subject to random or reasonable suspicion drug and
      alcohol screening at any time. Failure to submit to the screening is immediate grounds for termination</p>
  </div>
  <div style="float: left; width:100%;padding-top:15px;">
    <p class="ol-50">7.</p>
    <p class="ol-100">Pacesetter Personnel Services discourages relatives and/or spouses working at the same job
      assignment. </p>
  </div>
  <div style="float: left; width:100%;padding-top:15px;">
    <p class="ol-50">8.</p>
    <p class="ol-100">DO wear all safety equipment and uniforms assigned to you while on the job. You must follow
      instructions for the proper use of all equipment and all applicable safety procedures. You are responsible for all
      lost or damaged equipment, uniforms and reporting to your manager any malfunctioning or missing equipment.
      Pacesetter Personnel Services employees may be charged for any lost or destroyed equipment or uniforms on loan to
      them from Pacesetter Personnel Services or our Clients.</p>
  </div>
  <div style="float: left; width:100%;padding-top:15px;">
    <p class="ol-50">9.</p>
    <p class="ol-100">As a condition of employment, you are required to follow all safety procedures, rules and safe
      work practices, to exercise due care in the course of your work, operate machines or equipment that you have been
      training on, wear all required PPS as assigned including, but not limited to, seat belts, gloves, safety shoes,
      goggles, hard hats, respirators and hearing protections whenever conditions make this equipment necessary.</p>
  </div>
  <div style="float: left; width:100%;padding-top:15px;">
    <p class="ol-50">10.</p>
    <p class="ol-100">I understand that the paycheck I receive for hours worked is my responsibility. If I lose or
      damage my check, I understand that there is a 7 business day waiting period before I can obtain a replacement
      check. I understand that a $25.00 charge will be deducted from my replacement check for the “stop payment fee” on
      the lost or damaged check</p>
  </div>
  <div style="float: left; width:100%;padding-top:15px;">
    <p class="ol-50">11.</p>
    <p class="ol-100">In case of an accident/incident, notify your supervisor andPacesetter Personnel Services
      immediately. Pacesetter Personnel Services has to be notified to approve any medical treatment. If you seek
      unapproved non-emergency medical treatment, you may be responsible for the charges. Employees must have a properly
      filed E-1, within 24 hours after an accident.</p>
  </div>
  <div style="float: left; width:100%;padding-top:15px;">
    <p class="ol-50">12.</p>
    <p class="ol-100"><b><u>WHEN YOUR ASSIGNMENT IS COMPLETED, YOU MUST REPORT FOR REASSIGNMENT DAILY IN PERSON. WORK IS
      AVAILABLE. UNEMPLOYMENT BENEFITS MAY BE JEOPARDIZED FOR FAILURE TO DO SO.</u></b></p>
  </div>
  <div style="float: left; width:100%;padding-top:15px;">
    <p class="ol-50">13.</p>
    <p class="ol-100"><b><u>YOU UNDERSTAND THAT IN THE EVENT YOU CANNOT MAKE IT TO A JOB ASSIGNMENT ON A SPECIFIED DATE
      AND TIME, YOU MUST CALL PACESETTER PERSONNEL SERVICES. WE HAVE AN ANSWERING SERVICE AND ARE REACHABLE 24 HOURS A
      DAY, 7 DAYS A WEEK. IF YOU FAIL TO CONTACT PACESETTER PERSONNEL SERVICES THIS WILL RESULT IN DISCIPLINARY ACTION,
      UP TO AND INCLUDING TERMINATION.</u></b></p>
  </div>
  <p style="float: left; width:100%;padding-top:15px;">I UNDERSTAND THE WELCOME TO PACESETTER PERSONNEL SERVICES COMPANY
    POLICIES AND PROCEDURES, AND ACKNOWLEDGE THAT I AM SUBJECT TO FOLLOWING THESE RULES. I UNDERSTAND THAT BY VIOLATING
    THESE RULES I MAY BE REFUSED FUTURE ASSIGNMENTS AND EVEN HAVE MY EMPLOYMENT WITH PACESETTER PERSONNEL SERVICES
    TERMINATED.</p>


  <div class="w-70">
    <span class="data-value">
      {{getPrintName()}}
    </span>
    <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;">
      Applicant/Employee Print Name
    </p>
    <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;">
      Applicant/Employee Signature
    </p>
  </div>
  <div class="w-30">
    <span class="data-value">
      {{getValue('basicInformation.socialSecurityNo')}}
    </span>
    <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;">
      Social Security Number
    </p>
    <span class="data-value">
      {{getTodayDate()}}
    </span>
    <p style="border-top:1px solid #000;padding-top: 5px;margin-top:35px;">
      Today’s Date
    </p>
  </div>
  <hr style="float: left; width:100%;border-color: #000;border-width: 0.5px;">

</div>
