.docs-width{
  width: 100%;
  padding: 0 15px;
  text-align: left;
  margin: 0 auto;
  position: relative;
  background-color: white;
}
.watermark {
  width: 677px;
  opacity: 0.1;
  color: BLACK;
  position: absolute;
  left:10%;
  top:40%;
  font-size: 300px;
  font-weight: 500;
  letter-spacing: 10px;
  transform: rotate(-55deg);
  font-family: "Times New Roman";
}
.applicant{
  width: 300px;
}
.applicant p{
  border-top: 1px solid #000;
  margin-top: 30px;
  padding-top: 2px;
}
ul{
  padding-left: 10px;
}
ul li{
  padding: 5px 0;
  font-size: 13px;
}
.w-70{
  width: 48%;
  float: left;
}
.w-30{
  width: 45%;
  float: right;
}
.w-30 p,.w-70 p{
  padding: 15px 0;
}
.w-70Drug{
  width: 41%;
  float: left;
}
.w-30Drug{
  width: 37%;
  float: right;
}
.w-30Drug p,
.w-70Drug p{
  margin: 0;
}
.listofagrement{
  float: left;
  width: 100%;
}
.ol-50{
  width: 5%;
  float: left;
  margin: 0;
}
.ol-100{
  width: 95%;
  float: left;
  margin: 0;
}
ol{
  padding: 0 0 0 ;
  margin: 0;
}
ol li{
  padding: 3px 0;
}
.data-value{
  font-weight: 600;
  font-size: 14px;
}
.docs-width h1{
  font-size: 1.8rem;
}
.docs-width h4,
.docs-width h3{
  font-size: 1.25rem;
}
.docs-width p{
  font-size: 14px;
}
.text-decoration-underline{
  @extend .data-value;
  text-decoration: underline;
}




// custom
.w-70Drug p,
.w-70 p{
  margin-top: 10px !important;
  padding-bottom: 0 !important;
}
.w-30Drug p,
.w-30 p{
  margin-top: 10px !important;
  padding-bottom: 0 !important;

}

@media (max-width: 768px){
  .w-70Drug,.w-30Drug,.w-70,.w-30{
    width: 100%;
    float: left !important;
  }
  .docs-width {
    width: 100%;
    padding: 0 10px;
  }

}
@media (max-width: 768px){
  .w-3030{
      width: 100%;
      float: left;
      
  }
  .w-3030 p{
      margin-left: 0 !important;
      margin-right: 0 !important;
  }
}