.document {
  * {
    font-family: 'Roboto', sans-serif;
  }
}
.docs-width{
  width: 100%;
  padding: 0 15px;
  text-align: left;
  margin: 0 auto;
  position: relative;
  background-color: white;
}
.watermark {
  width: 677px;
  opacity: 0.1;
  color: BLACK;
  position: absolute;
  left:10%;
  top:40%;
  font-size: 300px;
  font-weight: 500;
  letter-spacing: 10px;
  transform: rotate(-55deg);
  font-family: "Times New Roman";
}
.applicant{
  width: 300px;
}
.applicant p{
  border-top: 1px solid #000;
  margin-top: 30px;
  padding-top: 2px;
}
ul{
  padding-left: 10px;
}
ul li{
  padding: 5px 0;
  font-size: 13px;
}
.w-70{
  width: 48%;
  float: left;
}
.w-30{
  width: 45%;
  float: right;
}
.w-30 p,.w-70 p{
  padding: 15px 0;
}
.w-70Drug{
  width: 41%;
  float: left;
}
.w-30Drug{
  width: 37%;
  float: right;
}
.w-30Drug p,
.w-70Drug p{
  margin: 0;
}
.listofagrement{
  float: left;
  width: 100%;
}
.ol-50{
  width: 5%;
  float: left;
  margin: 0;
}
.ol-100{
  width: 95%;
  float: left;
  margin: 0;
}
ol{
  padding: 0 0 0 ;
  margin: 0;
}
ol li{
  padding: 3px 0;
}
.data-value{
  font-weight: 600;
  font-size: 14px;
}
.docs-width h1{
  font-size: 1.8rem;
}
.docs-width h4,
.docs-width h3{
  font-size: 1.25rem;
}
.docs-width p{
  font-size: 14px;
}
.text-decoration-underline{
  @extend .data-value;
  text-decoration: underline;
}
// custom
.w-70Drug p,
.w-70 p{
  margin-top: 10px !important;
  padding-bottom: 0 !important;
}
.w-30Drug p,
.w-30 p{
  margin-top: 10px !important;
  padding-bottom: 0 !important;

}


.w4-pages{
  .form-width{
    width:1000px;
    text-align: left;
    margin: 0 auto;
    position: relative;
  }
  .w4-employ-page table h2{
    margin-bottom: 0px;
  }
  .w4-employ-page table h3{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .w4-employ-page table p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .bold{
    font-weight: bold;
  }
  .italic{
    font-style: italic;
  }
  .w4-employ-page ol{
    padding-left: 15px;
    margin: 0;
  }
  .w4-employ-page ol li{
    padding:3px 0;
  }
  .padding-left-15{
    text-indent: 25px;
  }
  .caution img{
    float: left;
    width: 45px;
    margin-right: 15px;
  }
  .caution p{
    display: inline;
  }
  .text-center{
    text-align: center;
  }
  .w4-employ-page3 table h4{
    margin: 0px;

  }
  .w4-employ-page3 table h4 span{
    margin: 0px;
    font-weight: lighter;
  }
  .w4-employ-page3 table img{
    margin-top: 4px;
  }
  .w4-employ-page3 .border-top{
    border-top: 1px solid #000;
  }
  .w4-employ-page3 .border-bottom{
    border-bottom: 1px solid #000;
  }
  .w4-employ-page3  p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .w4-employ-page3 ol{
    padding-left: 15px;
    margin: 0;
  }
  .w4-employ-page3 ol li{
    padding:3px 10px;
  }
  .w4-employ-page3 ol li p{
    font-weight: normal;
    font-size: 14px;
    margin: 0;
  }
  .price-border{
    border-bottom: 1px solid #000;
  }
  .price-border span{
    border-bottom: 1px solid #fff;
    padding:0 10px;
  }
  .w4-employ-page3 .v-bottom{
    vertical-align: bottom;}
  .privacytable p{
    font-size: 12px;
    margin: 5px 0;
  }
  .pdl{
    padding-left: 30px;
  }
  .pdr{
    padding-right: 30px;
  }
}
/*I9 and W-4 Form */
.pannable-form{
  label{
    display: initial;
  }
  .i9 table tr td{
    padding-top: 5px ;
    padding-bottom: 5px ;
  }
  .form-width{
    width: 1108px;
    text-align: left;
    margin: 0 auto;
    position: relative;
  }
  .col-30{
    float: left;
    width: 30%;
    padding: 15px 15px;
    margin-bottom: 20px;
  }
  .form-width h1{
    border-bottom: 2px solid #000;
    margin-top: 0;
  }
  .form-width h2{
    margin-top:0px;
    margin-bottom: 0;
    font-size: 20px;
  }
  .col-30 p{
    margin-bottom: 10px;
    margin-top:0;
    font-size: 14px;
  }
  .form-width h3{
    margin:0px;
    font-size: 15px;
  }
  .aa p{
    padding: 0 5px;
  }
  .dotline {
    width: 100%;
    float: left;
    text-align: center;
    border-bottom: 2px dotted #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
  }
  .dotline span {
    background:#fff;
    padding:0 10px;
    font-weight: bold;
  }
  .w4-employ{
    float: left;
    width: 100%;
  }
  .col-15{
    float: left;
    width: 15%;
    padding:5px 0;
  }
  .col-70{
    float: left;
    width: 68%;
    padding:5px 0;
  }
  .font-8{
    font-size: 10px;
  }
  .font-10{
    font-size: 14px;
  }
  .font-30{
    font-size: 36px;
    font-weight: 900;
  }
  .border-bottom{
    border-bottom: 1px solid #000 !important;
  }
  .border-left{
    border-left: 1px solid #000 !important;
  }
  .border-right{
    border-right: 1px solid #000 !important;
  }
  .border-top{
    border-top: 1px solid #000 !important;
  }
  .text-center{
    text-align: center;
  }
  .w4-employ h3{
    margin:12px 0;
    padding:0px 15px;
  }
  .w4-employ p{
    margin: 0;
  }
  .background-color{
    background-color: #f1f4ff;
    min-height: 25px;
    float: left;width:100%;
  }
  .space-bar{
    height: 25px;
    float: left;width:100%;
  }
  .black-light{
    background-color: #c0c0c0;
  }
  table{
    border-color:#000 !important;
  }
  .border-tb{
    border-bottom: 0;
    border-top:0;
  }
  .border-rl{
    border-right: 0;
    border-left:0;
  }
  .border-r{
    border-right: 0;
  }
  .border-l{
    border-left:0;
  }
  .border-b{
    border-bottom: 0;
  }
  .border-t{
    border-top:0;
  }
  /* Checkbox contain */
  .mycheckbox {
    position: relative;
    pointer-events: none;
    padding-left: 25px;
    padding-right:5px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .space-bar span{
    width: 16px;
    float: left;
    height: 20px;
    margin: 4px 0;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    text-align: center;
  }
  /* Hide the browser's default checkbox */
  .mycheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #f1f4ff;;
    border:1px solid #000;
  }
  /* On mouse-over, add a grey background color */
  .mycheckbox:hover input ~ .checkmark {
    background-color: #f1f4ff;;
  }
  /* When the checkbox is checked, add a blue background */
  .mycheckbox input:checked ~ .checkmark {
    background-color: #000;
  }
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  /* Show the checkmark when checked */
  .mycheckbox input:checked ~ .checkmark:after {
    display: block;
  }
  /* Style the checkmark/indicator */
  .mycheckbox .checkmark:after {
    left: 4px;
    top: 2px;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &.w4-2020{
    .rotate{
      font-size: 12px !important;
    }
    .form-width{
      width:1000px;
      text-align: left;
      margin: 0 auto;
      position: relative;
    }
    .width-80{
      width: 80%;
    }
    .width-95{
      width: 95%;
    }
    .col-30{
      float: left;
      width: 30%;
      padding: 15px 15px;
      margin-bottom: 20px;
    }
    .form-width h1{
      border-bottom: 2px solid #000;
      margin-top: 0;
    }
    .form-width h2{
      margin-top:0px;
      margin-bottom: 5px;
      font-size: 24px;
    }
    .col-30 p{
      margin-bottom: 10px;
      margin-top:0;
      font-size: 14px;
    }
    .form-width h3{
      margin:0px;
      font-size: 15px;
    }
    .aa p{
      padding: 0 5px;
    }
    .dotline {
      width: 100%;
      float: left;
      text-align: center;
      border-bottom: 2px dotted #000;
      line-height: 0.1em;
      margin: 10px 0 20px;
    }

    .dotline span {
      background:#fff;
      padding:0 10px;
      font-weight: bold;
    }

    .w4-employ{
      float: left;
      width: 100%;
    }
    .col-15{
      float: left;
      width: 15%;
      padding:5px 0;
    }
    .col-70{
      float: left;
      width: 68%;
      padding:5px 0;
    }
    .font-10{
      font-size: 11px;
    }
    .font-12{
      font-size: 12px;
    }
    .font-14{
      font-size: 14px;
    }
    .font-18{
      font-size: 18px;
    }
    .bold{
      font-weight: bold;
    }
    .padding-0{
      padding: 0;;
    }
    .padding-top{
      padding-top: 10px;
    }
    .padding-left{
      padding-left: 10px;
    }
    .padding-y{
      padding: 5px 0;;
    }
    .v-top{
      vertical-align: top;
    }
    .v-bottom{
      vertical-align: bottom;
    }
    .border-text{
      -webkit-text-fill-color: white;
      -webkit-text-stroke-width: 1px;
    }
    .float-left{
      float: left !important;
    }
    .font-30{
      font-size: 36px;
      font-weight: 900;
    }
    .border-bottom{
      border-bottom: 1px solid #000;
    }
    .border-left{
      border-left: 1px solid #000;
    }
    .border-right{
      border-right: 1px solid #000;
    }
    .border-top{
      border-top: 1px solid #000;
    }
    .text-center{
      text-align: center;
    }
    .w4-employ h3{
      margin:12px 0;
      padding:0px 15px;
    }
    .w4-employ p{
      margin: 0;
    }
    .background-color{
      background-color: white;
      height: 25px;
      float: left;width:100%;
    }
    .space-bar{
      height: 25px;
      float: left;width:100%;
    }
    .black-light{
      background-color: #c0c0c0;
    }
    table{
      border-color:#000 !important;
    }
    .border-tb{
      border-bottom: 0;
      border-top:0;
    }
    .border-rl{
      border-right: 0;
      border-left:0;
    }
    .border-r{
      border-right: 0;
    }
    .border-l{
      border-left:0;
    }
    .border-b{
      border-bottom: 0;
    }
    .border-t{
      border-top:0;
    }
    .rotate{
      -ms-transform: rotate(315deg); /* IE 9 */
      -webkit-transform: rotate(315deg); /* Safari 3-8 */
      transform: rotate(315deg);
      font-size: 30px;
      margin-right: 5px;
      margin-left: -10px;
    }
    /* Checkbox contain */
    .mycheckbox {
      position: relative;
      padding-left: 25px;
      /* margin-bottom: 0px; */
      padding-right:5px;
      cursor: pointer;
      font-size: 12px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .space-bar span{
      width: 16px;
      float: left;
      height: 20px;
      margin: 4px 0;
      border-bottom: 1px solid #000;
      border-left: 1px solid #000;
      border-top: 1px solid #000;
      text-align: center;
    }
    /* Hide the browser's default checkbox */
    .mycheckbox input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 15px;
      width: 15px;
      background-color: #fff;;
      border:1px solid #000;
    }

    /* On mouse-over, add a grey background color */
    .mycheckbox:hover input ~ .checkmark {
      background-color: #fff;;
    }

    /* When the checkbox is checked, add a blue background */
    .mycheckbox input:checked ~ .checkmark {
      background-color: #000;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the checkmark when checked */
    .mycheckbox input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the checkmark/indicator */
    .mycheckbox .checkmark:after {
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

}


.amerigas-form {
  p{
    font-size: 18px;
  }
  h1{
    font-size: 24px;
  }
  .AmeriGas{
    font-size: 40px !important;
    text-align: right;
    margin: 0;
    padding: 0;
  }

  .docs-width{
    max-width: 1024px;
    padding:0 15px;
    text-align: left;
    margin: 0 auto;
    position: relative;
  }
  .watermark {
    width: 677px;
    opacity: 0.1;
    color: BLACK;
    position: absolute;
    left:10%;
    top:40%;
    font-size: 300px;
    font-weight: 500;
    letter-spacing: 10px;
    transform: rotate(-55deg);
  }
  .applicant{
    width: 300px;
  }
  .applicant p{
    border-top: 1px solid #000;
    margin-top: 30px;
    padding-top: 2px;
  }
  .w-70{
    width: 48%;
    float: left;
  }
  .w-30{
    width: 45%;
    float: right;
  }
  .w-30 p,.w-70 p{
    padding: 15px 0;
  }
  .w-70Drug{
    width: 41%;
    float: left;
  }
  .w-30Drug{
    width: 37%;
    float: right;
  }
  .w-30Drug p,
  .w-70Drug p{
    margin: 0;
  }
  .listofagrement{
    float: left;
    width: 100%;
  }
  .ol-50{
    width: 5%;
    float: left;
    margin: 0;
  }
  .ol-100{
    width: 95%;
    float: left;
    margin: 0;
  }
  ol{
    padding: 0 0 0 ;
    margin: 0;
  }
  ol li{
    padding: 3px 0;
  }
}


.atrw, .work-well {
  .form-width{
    width: 100%;
    text-align: left;
    margin: 0px auto;
    /* position: relative; */
  }
  .form-width h1{
    text-align: center;
    margin: 0;
  }
  .form-width h2{
    margin-top:0px;
    margin-bottom: 0;
    padding-bottom: 10px;
    font-size: 26px;
    text-align: center;
    border-bottom: 2px solid #000;
  }
  .center-width{
    float: left;
    padding:0 30px;
  }
  .border-bottom{
    border-bottom: 1px solid #000;
  }
  .border-left{
    border-left: 1px solid #000;
  }
  .border-right{
    border-right: 1px solid #000;
  }
  .border-top{
    border-top: 1px solid #000;
  }
  .text-center{
    text-align: center;
  }
  .border-tb{
    border-bottom: 0;
    border-top:0;
  }
  .border-rl{
    border-right: 0;
    border-left:0;
  }
  .border-r{
    border-right: 0;
  }
  .border-l{
    border-left:0;
  }
  .border-b{
    border-bottom: 0;
  }
  .border-t{
    border-top:0;
  }
  .w-40{
    float:left;
    width:35%;
    padding-right: 15px;
    padding-left:15px;
  }
  .w-45{
    float:left;
    width:45%;
  }
  .w-45 p{
    float: right;
    margin-bottom: 0;

  }
  .w-50{
    float:left;
    width:46% !important;

  }
  .w-20{
    float:left;
    width:20%;
    padding-right: 15px;
    padding-left:15px;
  }
  .w-30{
    float:left;
    width:26%;
    padding-right: 15px;
    padding-left:15px;
  }
  .w-50px{

    float:left;
    width: 60px;
    padding-right: 15px;
    padding-left:15px;
  }
  .w-90{
    float:left;
    width:87%;
    padding-right: 15px;
    padding-left:15px;
  }
  .row{
    float: left;
    width: 100%;
    padding:30px 0;
    border-bottom: 2px solid #000;
  }
  .wl{
    float: left;
    width: 100%;
  }
  .WandB{
    float: left;
    border: 1px solid #000;
    padding: 1px;
  }
  .WandBB{
    float: left;
    border: 1px solid #000;
    padding-left: 15px;
  }
  .w-150px{
    width: 125px !important;
    float: left;
    text-align: right;
    margin-right: 10px;
    font-size: 12px;
  }


  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
  }
  th {
    text-align: left;
    padding: 8px;
  }
  td {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
  }



  /* Checkbox contain */

  .mycheckbox {
    position: relative;
    width: 100%;
    float:left;
    padding-left: 25px;
    margin-bottom: 15px;
    padding-right:5px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .space-bar span{
    width: 16px;
    float: left;
    height: 20px;
    margin: 4px 0;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    text-align: center;
  }
  /* Hide the browser's default checkbox */
  .mycheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #f1f4ff;;
    border:1px solid #000;
  }

  /* On mouse-over, add a grey background color */
  .mycheckbox:hover input ~ .checkmark {
    background-color: #f1f4ff;;
  }

  /* When the checkbox is checked, add a blue background */
  .mycheckbox input:checked ~ .checkmark {
    background-color: #000;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .mycheckbox input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .mycheckbox .checkmark:after {
    left: 5px;
    top: 2px;
    width: 3px;
    height: 6px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* Checkbox contain */
}
@media (max-width: 768px){
  .w-70Drug,.w-30Drug,.w-70,.w-30{
    width: 100%;
    float: left !important;
  }
  .docs-width {
    width: 100%;
    padding: 0 10px;
  }
  .w-3030{
    width: 100%;
    float: left;

  }
  .w-3030 p{
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .amerigas-form {
    .docs-width{
      max-width:100%;
      overflow-x: hidden;
    }
    .w-70{
      width: 100%;
      float: left;
    }
    .w-30{
      width: 100%;
      float: right;
    }
  }
  .atrw,
  .work-well{
    .form-width{
      width:100%;
    }
    .mycheckbox {
      width: 86%;
    }
    .w-45{
      float:left !important;
      width:100%;
    }
    .center-width {
      float: inherit !important;
      padding: 0 5px!important;
    }
    .w-150px {
      width: 100px !important;
      font-size: 10px!important;
    }
    .w-50{
      float:left !important;
      width:100%!important;
    }
    .w-90,
    .w-30,
    .w-20,
    .w-40{
      float:left;
      width:90%;
    }
  }
}
