.panzoom-wrapper{
  border: 1px solid black;
  height: 500px;
  overflow: hidden;
  .scene{
    &:active,
    &:focus,
    &:hover{
      outline: none !important;
    }
  }
  &:active,
  &:focus,
  &:hover{
    outline: none !important;
  }
}
