<div class="docs-width">
  <h1 style="border-bottom:2px solid #000;padding-bottom:1px;">Professional Language And Behavior Policy</h1>
  <p>Pacesetter Personnel Services (“Pacesetter”) is an Equal Opportunity Employer that does not condone or tolerate any type of workplace discrimination or harassment.  To promote equal employment opportunity for all employees, Pacesetter Personnel Services strives to maintain an atmosphere of mutual respect, dignity, and understanding within our offices and in the workplaces of our client companies. Toward that end, Pacesetter Personnel Services considers the use of demeaning, belittling, humiliating, insulting, or other forms of inappropriate or disrespectful language toward or about yourself or others to be unacceptable.                </p>
  <p>While the context of such statements can be important in judging whether the statements violate this policy, in general, Pacesetter Personnel Services will consider any such language unacceptable and will follow up on any complaints reported. Inappropriate language in the workplace can contribute toward a hostile work environment. The following examples illustrate what is unacceptable under this policy (the list is not exhaustive and should only be considered to be a general guide):</p>
  <ul style="padding: 0 0 0 15px;">
    <li style="padding: 10px 0 10px 15px;">Slurs and other disrespectful terms relating to a person's race, color, religion, age, national origin, citizenship status, gender, sexual orientation, genetic information, or disability;                    </li>
    <li style="padding: 10px 0 10px 15px;">Excessive or habitual use of terms relating to a person's characteristics if a reasonable person would feel excluded, belittled, or singled out for unwanted attention through such language;</li>
    <li style="padding: 10px 0 10px 15px;">Referring to people in terms of their assumed nationalities;</li>
    <li style="padding: 10px 0 10px 15px;">Words relating to gender stereotypes;</li>
    <li style="padding: 10px 0 10px 15px;">Sexually inappropriate jokes, slang, slurs, references, or comments; </li>
    <li style="padding: 10px 0 10px 15px;">Profane or obscene references to yourself or others;</li>
    <li style="padding: 10px 0 10px 15px;">Bullying;</li>
    <li style="padding: 10px 0 10px 15px;">Threats or intimidation (verbal and/or physical, including but not limited to physical altercations); and</li>
    <li style="padding: 10px 0 10px 15px;">Unwanted or unwelcomed touching.                    </li>
    <li style="padding: 10px 0 10px 15px;">Viewing or accessing any information, including websites, pictures or documents on the internet on a company computer or phone or while at work, that might be considered pornographic or sexually explicit. </li>
  </ul>
  <p>
    <b>If you experience any conduct or comments that you find objectionable or offensive, NOTIFY YOUR SUPERVISOR OR BRANCH MANAGER IMMEDIATELY! </b> You should do this regardless of whether the inappropriate conduct is engaged in by other Pacesetter employees or by employees of the client or customer to whom you are assigned.  If you report conduct that you find objectionable or offensive to your supervisor or branch manager and you do not think an appropriate response occurred, or if you are reporting inappropriate conduct on the part of your supervisor or branch manager, <b>please contact Human Resources at (888) 529-0202 Ext. 240 or hr@pacesetterpersonnel.com</b>.
  </p>
  <p>
    Pacesetter <b><u>WILL NOT TOLERATE</u></b> any language or behavior that is used as a means to harass, bully, discriminate, or belittle another team member, customer, vendor, or any other person in the workplace. Violation of this policy will result in immediate disciplinary action, up to and including termination of your employment with Pacesetter.
  </p>
  <p><b>Your signature below attests that you have read the Professional Language and Behavior Policy, understand it, and agree to abide by the policy or face disciplinary action, up to and including the termination of your employment.</b></p>
  <div class="w-70">
    <span class="data-value">
      {{getPrintName()}}
    </span>
    <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;">
      Applicant/Employee Print Name
    </p>
    <!-- <img *ngIf="getValue('yourSignature.signature') !== 'No Value'" [src]="getValue('yourSignature.signature')" alt=""> -->
    <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;">
      Applicant/Employee Signature
    </p>
  </div>
  <div class="w-30">
    <span class="data-value">
      {{getValue('basicInformation.socialSecurityNo')}}
    </span>
    <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;">
      Social Security Number
    </p>
    <span class="data-value">
      {{getTodayDate()}}
    </span>
    <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;">
      Today's Date
    </p>
  </div>
</div>
