<div class="docs-width">
  <h1 style="text-align: center;">EMPLOYMENT CONTRACT</h1>
  <p>The following agreement between Company (as identified below) and the undersigned, hereinafter referred to as "Applicant" or "I," shall be effective from and after the date of Company's acceptance hereof and is voluntarily offered so that Company may be able to provide work for the applicant which otherwise could not be provided. Company and the applicant agree as follows:</p>
  <h4>A. &nbsp; &nbsp; Applicant’s Rights and Obligations</h4>
  <ol>
    <li>I understand that my employment with the Company is on a day to day basis. That is, at the end of the workday, I will be deemed to have quit unless and until I request and receive a work assignment at a later date.</li>
    <li>When my assignment is completed, I understand that I must report back to the Company on the next business day for re-assignment. If I fail to report back to the Company on the next business day, I understand that my unemployment benefits may be jeopardized.</li>
    <li>I agree that my employment with the Company is on an “at-will” basis.  I may terminate my employment with Company at any time, and Company may terminate my employment at any time.  Nothing in this agreement should be construed in any way as creating a right, contract, or guarantee of employment, benefits, or working conditions.</li>
    <li>I acknowledge and agree to be bound by the Company’s Arbitration Agreement that has been or will be provided to me in a separate document.  </li>
    <li>I agree to submit to the supervision of the Company or any person, firm, or entity to whom I am assigned by the Company and to comply with all lawful policies and directives of the Company or the person, firm or entity to whom I am assigned.</li>
    <li>I shall hold the Company harmless and indemnify it against any and all liability that may be asserted against the Company in connection with any negligence, acts, or omissions that I cause because of my actions or failure to act while assigned by the Company to a customer.</li>
    <li>I agree to be bound by the Company’s Agreements and Policies that are provided to me as part of my application for employment and that may be provided to me during my employment. </li>
    <li>I am responsible for arriving as scheduled and on time at any particular job, customer or worksite. Failure to arrive on time and as directed may result in disciplinary action up to and including termination from the job, customer or worksite. </li>
    <h4>B. &nbsp; &nbsp; Company’s Rights and Obligations</h4>
    <li>The Company has the right to, control, direct, re-assign and discharge Applicant. The entity to which Applicant is assigned may direct and control Applicant’s activities while at its place of business or job site.</li>
    <li>At its sole discretion, the Company may make transportation available for applicants to and from a particular job, customer or worksite. Applicants agree to review and abide by the Transportation Agreement as part of his or her employment with the Company. </li>
    <li>The Company shall furnish Applicant with any and all safety equipment requested by the customer to whom he or she is assigned or, as needed, in the sole judgment of the Company. Other safety equipment may be provided by the customer to whom Applicant is assigned. The Company will not charge any fee for the use of safety equipment provided by it to Applicant: however, if said safety equipment is not returned by Applicant, the Applicant may be responsible for the replacement cost of the equipment.</li>
    <li>The Company shall deduct from Applicant's gross wages such amounts for various taxes as may be legally required to be deducted. The Company will hold in its office a W2 form or 1099 statement for Applicant to claim on January 31 of each successive calendar year detailing the total earnings and any amounts withheld by Company in the prior year.</li>
    <li>In the event Applicant should collect on any third-party claim against any person, firm or entity that Applicant was assigned to by the Company, the Company has the right to subrogate for any benefits, lost wages or the like which it or its insurers were required to pay to Applicant as a result of the injury.</li>
    <li>The Company is committed to the principle of a dignified work environment and prohibits all forms of harassment to include, but not limited to sexual, racial, religious or ethnic harassment. Anyone believing that he or she is the recipient of such harassment should notify the Company immediately.  Applicant acknowledges receipt of Company’s Professional Language and Sexual Harassment, which Applicant received separately from this agreement. The Company requires all employees to comply with the Company’s policies prohibiting all forms of harassment. </li>
    <li>The Company WILL NOT TOLERATE any actions that constitute retaliation by managers, supervisors or employees against any employee who files a claim or complaint regarding any prohibited conduct, including but not limited to any form of harassment.  Anyone who is aware of what he or she believes to be a violation of the Company’s policies should report such concerns to his or her supervisor or the corporate human resources department at 713-529-0202, ext. 240 or hr@pacesetterpersonnel.com.</li>
    <li>Applicant agrees that, because irreparable harm will result to Company in the event of any breach of any covenant contained in this agreement or in any other document, form, or agreement that Applicant receives and accepts from Company, in the event of such breach of any covenant by Applicant, Company shall be entitled to an injunction to restrain the violation thereof by Applicant, in addition to other legal or equitable remedies.</li>
    <li>Any failure by either Applicant or Company to exercise any of his/her/its rights hereunder shall not be deemed a waiver of the subsequent exercise of the same or any similar right. Every right provided in this agreement shall be independent of each and every other right and one right shall not act as a limitation on any other right, except as determined in a Court of law.</li>
    <li>Applicant understands and acknowledges that employees and former employees of Company are prohibited from releasing to any other party any information whatsoever about Company or its customers which is of a confidential nature or which could be deemed to constitute a "trade secret." Applicant further understands and acknowledges that employees or former employees of Company are further prohibited from using, in any manner whatsoever, information which is confidential, proprietary, or privileged, whether for their personal benefit or gain, or for that of any other person. Any information which has not been disclosed publicly in writing by Company should be treated as confidential and proprietary.  </li>
    <li>This agreement shall be governed and controlled by the laws of the state in which Applicant and Company executed this agreement and shall be binding on the parties, their heirs, successors, assigns, and personal representatives.</li>
    <li>This agreement and all other Company policies may only be modified in writing.</li>
  </ol>
  <p>I acknowledge that I have read the foregoing agreement and certify that the information I provided in my application for employment with Company is true and correct, and that no attempt has been made to conceal pertinent information.  In case of employment, any false statement or less than full disclosure of relevant information will be considered sufficient cause for dismissal.</p>
  <div class="w-70">
    <span class="data-value">
      {{getPrintName()}}
    </span>
    <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;">
      Applicant/Employee Print Name
    </p>
    <!-- <img *ngIf="getValue('yourSignature.signature') !== 'No Value'" [src]="getValue('yourSignature.signature')" alt=""> -->
    <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;">
      Applicant/Employee Signature
    </p>
  </div>
  <div class="w-30">
    <span class="data-value">
      {{getValue('basicInformation.ssn')}}
    </span>
    <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;">
      Social Security Number
    </p>
    <span class="data-value">
      {{getTodayDate()}}
    </span>
    <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;">
      Today's Date
    </p>
  </div>
</div>
