<div class="atrw">
  <div class="form-width">
    <h2 style="text-align:left;">Authorization to Release Work History</h2>
    <div class="center-width">
      <p>
        I hereby authorize you to release to Pacesetter Personnel Services any information requested regarding my work performance and hereby unconditionally release your company from all liability for any damage whatsoever which might result from furnishing this information.
      </p>
      <div class="w-45" style="float:right;">
        <p><span class="w-150px">Company: </span>  _________________________</p>
        <p><span class="w-150px">Supervisor: </span> _________________________</p>
        <p><span class="w-150px">Supervisor's Title: </span> _________________________</p>
        <p><span class="w-150px">Dates of employment: </span> _________________________</p>
        <p><span class="w-150px">Applicant's Name: </span> _________________________</p>
        <p><span class="w-150px">Applicant's Job Title: </span> _________________________</p>
        <p><span class="w-150px">Applicant's SS No: </span> _________________________</p>
      </div>
      <div class="row">
        <div class="w-50" >
          <p style="border-bottom:1px solid #000;margin:0px;padding-bottom:0;padding-top: 12px;background-color: #f1f4ff;">
            <b>{{getSignaturePlaceholder()}}</b>
          </p>
          <p style="padding: 5px 0 0 0 ;margin-top:0px;">
            Applicant/Employee Signature
          </p>
        </div>
        <div class="w-50" style="float:right;">
          <p style="border-bottom:1px solid #000;margin:0px;padding-bottom:0;padding-top: 12px;background-color: #f1f4ff;">
            <b>{{getTodayDate()}}</b>
          </p>
          <p style="padding: 5px 0 0 0 ;margin-top:0px;">
            Today's Date
          </p>
        </div>
      </div>
      <div class="wl">
        <p>
          Pacesetter Personnel Services is in the process of assisting the employee named above in his
          or her search for employment. Please assist us by answering the following questions where
          applicable.
        </p>
        <div class="w-50" >
          <label class="mycheckbox">
            <input type="checkbox" >
            <span class="checkmark"></span>
            Initiating the network program (companywide)
          </label>
        </div>
        <div class="w-50" style="float:right;">
          <p style="margin:0;">From ______________ to ________________</p>
        </div>
        <div class="wl">
          <div class="w-50" >
            <label class="mycheckbox">
              <input type="checkbox" >
              <span class="checkmark"></span>
              Applicant's Job Title:
            </label>
          </div>
          <div class="w-50" style="float:right;">
            <p style="margin:0;">_______________________________</p>
          </div>
        </div>
        <div class="wl">
          <div class="w-50" >
            <label class="mycheckbox">
              <input type="checkbox" >
              <span class="checkmark"></span>
              Is this person elegible for rehire?
            </label>
          </div>
          <div class="w-50" style="float:right;">
            <label style="width: 20%" class="mycheckbox">
              <input type="checkbox" >
              <span class="checkmark"></span>
              Yes
            </label>
            <label style="width: 20%" class="mycheckbox">
              <input type="checkbox" >
              <span class="checkmark"></span>
              No
            </label>
          </div>
        </div>
        <div class="wl">
          <div class="w-50" >
            <label class="mycheckbox">
              <input type="checkbox" >
              <span class="checkmark"></span>
              Please Evaluate the following (check one)
            </label>
          </div>
        </div>
        <div class="wl">
          <table>
            <tr>
              <th></th>
              <th>Excellent </th>
              <th>Good </th>
              <th>Average </th>
              <th>Poor                                    </th>
            </tr>
            <tr>
              <td>Attendance</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Work Habits</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Quality of Work</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Oral Communication</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Interpersonal Skills</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Initiative </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Following Instructions</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>
        <div class="wl" style="border-bottom: 2px solid #000;">
          <div class="w-50" >
            <p>Any additional comments would be helpful:</p>
          </div>
          <div class="w-50" style="float:right;">
            <p >_______________________________</p>
          </div>
        </div>
        <div class="wl" >
          <div class="w-50" >
            <p><span style="margin-right: 15px;">Completed By: </span>  _________________________</p>
          </div>
          <div class="w-50" style="float:right;">
            <p><span style="margin-right: 15px;">Title: </span>  _________________________</p>
          </div>
        </div>
        <p>
          We appreciate your assistance in completing this form. If Pacesetter Personnel Services can be
          of any help or for questions about this evaluation please call _____________________________
          at (713) 527-9955. Return fax number: (713) 522-6816.
        </p>
      </div>
    </div>
  </div>
</div>
