<div class="amerigas-form">
  <div class="docs-width">
    <h1 class="AmeriGas" >AmeriGas</h1>
    <h1 style="border-bottom:2px solid #000;padding-bottom:10px;text-align: right;margin: 0;">PROPANE EXCHANGE</h1>
    <p  style="margin-top: 30px;">
      I, <b class="border-bottom">{{getPrintName()}}</b> attended a Safety Huddle the week of _______________________.
    </p>
    <p>
      I understand that working for AmeriGas; safety is and should always be my number one priority.
    </p>
    <p>
      If at any time I feel our facility, my safety or the safety of my co-workers is in jeopardy, or that production is not being conducted in a safe and fit matter; I am empowered to shut down the plant at any time.
    </p>
    <p>
      By signing below I agree to put safety first. If at any time I jeopardize the safety of myself, my plant or my co-workers; I understand it is grounds for immediate termination.
    </p>
    <div class="w-70">
      <b>{{this.getPrintName()}}</b>
      <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;">
        Print Name
      </p>
      <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;">
        Manager
      </p>
    </div>
    <div class="w-30">
      <b>{{this.getTodayDate()}}</b>
      <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;">
        Date
      </p>
      <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;">
        Date
      </p>
    </div>
  </div>
</div>
