<div class="docs-width">
  <h1  style="border-bottom:2px solid #000;padding-bottom:1px;">DRUG AND ALCOHOL POLICY</h1>
  <p>
    The Company is firmly committed to the safe and efficient operation of business. The safety of our employees as well as the quality of our work is of paramount concern. Drug or alcohol use, possession or distribution is <b><u>prohibited</u></b> and will be met with disciplinary action, up to and including immediate termination of my employment with the Company.
  </p>
  <p>
    I understand that the Company for which my employment application is being completed may require a drug-alcohol screen test as outlined in the Drug and Alcohol Policy made available to me. I acknowledge that I have received and read the Drug and Alcohol Policy and understand it and what is required of me. I was offered the opportunity to ask questions and receive acceptable answers to them.  By my signature below, I acknowledge that any questions I had about the Drug and Alcohol Policy were answered to my complete satisfaction.
  </p>
  <p>
    If I cannot read, I verify that the Drug and Alcohol Policy was read to me verbatim, and I was offered the opportunity to ask questions and receive acceptable answers to them.  By my signature below, I acknowledge that any questions I had about the Drug and Alcohol Policy were answered to my complete satisfaction.
  </p>
  <p>
    I further consent to any Drug and/or Alcohol Screen Test required for employment with the Company. Once employed, I also consent, where permitted by law, to a drug and alcohol screen test to be collected randomly; to be collected because of reasonable suspicion of drug and/or alcohol use; or to be collected as part of a mandatory post-accident test. I understand and agree that the mandatory post-accident drug and alcohol screen test is or may be required at my admittance or attendance to any hospital, doctor's office, or any medical treatment center when medical attention is needed due to an accident in which I am involved while working for the Company. By my signature below, I agree that <u>no further permission is necessary from me</u> in order to conduct a drug or alcohol screen as called for in this policy.
  </p>
  <p>
    I authorize the Company to obtain the results of any drug and alcohol screen test I take while employed by the Company.  I further authorize the Company to release the results of any such tests, whether positive, negative, or inconclusive, to be released to any client of the Company at the client’s request or at the Company’s sole discretion for the purposes of employment, assignment, investigation into my involvement in any accident while I am working for the Company, or investigation into any alleged criminal activity while I am working for the Company.
  </p>
  <p>
    I agree to hold harmless and waive any and all rights to seek damages or bring any kind of action against the Company, its principals, agents, clients and assigns for any and all consequences arising from my positive testing for drugs and/or alcohol.
  </p>
  <h3 style="padding-bottom: 30px;">
    I HAVE READ AND UNDERSTAND THE DRUG & ALCOHOL POLICY.
  </h3>
  <div class="w-70Drug">
    <img *ngIf="getValue('yourSignature.signature') !== 'No Value'" [src]="getValue('yourSignature.signature')" alt="">
    <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;">
      <b>Applicant/Employee Signature</b>
    </p>
  </div>
  <div class="w-30Drug">
    <span class="data-value">
      {{getTodayDate()}}
    </span>
    <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;">
      <b> Date</b>
    </p>
  </div>
  <p style="padding: 10px 0;width:100%;float:left;">(If Applicable) I attest that I read the above Drug and Alcohol Policy verbatim to the Applicant/Employee. </p>
  <div class="w-70Drug">
    <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;">
      <b>PPS Representative</b>
    </p>
  </div>
  <div class="w-30Drug">
    <span class="data-value">
      {{getTodayDate()}}
    </span>
    <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;">
      <b>Date</b>
    </p>
  </div>
</div>
