<div class="docs-width">
  <h1 style="border-bottom:2px solid #000;padding-bottom:1px;">UNLAWFUL EMPLOYMENT PRACTICES POLICY</h1>
  <p><b>It is a violation of Pacesetter Personnel Services’ policies to harass or discriminate against any employee because of his or her Race, Color, Sex, Pregnancy, National Origin, Marital Status, Disability, Age, Veteran Status or Sexual Orientation.</b></p>
  <p>Pacesetter Personnel Services takes allegations of harassment or discrimination very seriously. I understand that I should <u><b>immediately</b></u> report any incidents or situations in which I think I have been or am being discriminated against because of my race, color, sex, pregnancy, national origin, marital status, disability, age (forty years of age or older), veteran status or sexual orientation. I understand that I should <u><b>immediately</b></u> report to my supervisor any incidents or situations that I think makes my work environment uncomfortable in any way, such as unwanted or unwelcomed touching, remarks, jokes or language.</p>
  <p>I understand that this policy is issued by Pacesetter Personnel Services in addition to the Pacesetter Personnel Services’ Sexual Harassment policy.</p>
  <p>I understand that Pacesetter Personnel Services will investigate my complaint in a timely manner and will keep my complaint confidential to the extent possible. I understand that no employee will be retaliated against or discriminated against because he or she complains about any unlawful employment practice. Pacesetter Personnel Services <u>WILL NOT TOLERATE</u> any actions that constitute retaliation by managers, supervisors or employees against any Pacesetter employee who files a claim or complaint regarding any prohibited conduct, including but <u><b>not</b></u> limited to any unlawful harassment.  An employee who reports unlawful harassment will not be retaliated against or discriminated against because he or she files a complaint or report.</p>
  <p>I understand that any employee who engages in an unlawful employment practice will be subject to disciplinary action, up to and including termination.</p>
  <p>I understand that I must comply with this policy. If I have questions regarding this policy, I will contact my supervisor or Human Resources at (888) 529-0202 Ext. 240 or hr@pacesetterpersonnel.com.                </p>
  <h3>I HAVE READ AND I UNDERSTAND THE COMPANY’S UNLAWFUL EMPLOYMENT PRACTICES POLICY.</h3>

  <div class="w-70">
    <!-- <img *ngIf="getValue('yourSignature.signature') !== 'No Value'" [src]="getValue('yourSignature.signature')" alt=""> -->
    <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;">
      Applicant/Employee Signature
    </p>
  </div>
  <div class="w-30">
    <span class="data-value">
      {{getTodayDate()}}
    </span>
    <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;">
      Date
    </p>
  </div>
</div>
