<div class="employment-form">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 offset-lg-1 offset-sm-0 mt-5 mb-5">
        <mat-card>
          <mat-vertical-stepper (selectionChange)="onStepperSelectionChange($event)" [linear]="isStepperLinear()" #cdkStepper>
            <ng-container *ngFor="let step of stepFormGroups;let currentStep = index">
              <mat-step [stepControl]="step.formGroup" [editable]="!isSubmitting" [completed]="step.formGroup.valid">
                <form [formGroup]="step.formGroup">
                  <ng-template matStepLabel>{{step.label}}</ng-template>
                  <div class="row">
                    <ng-container *ngFor="let field of step.fields">
                      <app-employment-form-field
                        [ngClass]="{
                        'col-md-6 col-sm-12': !field.isFullRowField,
                        'w-100': field.type === 'date',
                        'col-12': field.isFullRowField
                        }"
                        *ngIf="field.formControl.enabled || field.id === 'bi-ssn'"
                        [step]="step"
                        [field]="field"
                        [isSubmitting]="isSubmitting"
                        [stepper]="cdkStepper"
                        [formData]="this.formValue"
                        (submitForm)="submitForm()"
                      ></app-employment-form-field>
                    </ng-container>
                  </div>
                  <div class="row mt-3">
                    <div class="col-12">
                      <div class="float-left w-100 text-center">
                        <div  *ngIf="currentStep !== 0 && currentStep !== stepFormGroups.length - 1 && showBackButton">
                          <button class="float-left"  mat-raised-button matStepperPrevious>Back</button>
                        </div>
                        <div  class="float-right" *ngIf="showNextButton">
                            <button mat-raised-button  color="primary" matStepperNext *ngIf="currentStep !== stepFormGroups.length - 1">Next</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </mat-step>
            </ng-container>
          </mat-vertical-stepper>

        </mat-card>
      </div>
    </div>
  </div>
</div>
