<div class="docs-width">
  <h1>Payroll Deduction Authorization</h1>
  <p>By signing this Payroll Deduction Authorization, I understand that Pacesetter Personnel Services may, where appropriate and permitted by federal, state and/or local law, deduct money from my pay from time to time for reasons that fall into the following categories:</p>
  <ol style="padding-left: 30px;">
    <li><b><u>Overpayment of Wages</u>:</b> &nbsp; if I receive an overpayment of wages for any reason, repayment to the Company of such overpayments (the deduction for such a repayment will equal the entire amount of the overpayment, unless the Company and I agree in writing to a series of smaller deductions in specified amounts);                    </li>
    <li><b><u>Costs for Use of Company Equipment</u>:</b> &nbsp; the cost to the Company of personal long-distance calls I may make, or messages I may send, using Company phones (land lines or cell phones) or Company accounts, of personal faxes sent by me using Company equipment or Company accounts, or of non-work related access to the Internet or other computer networks by me using Company equipment or Company accounts;</li>
    <li><b><u>Costs for Repair or Replacement of Company Property</u>:</b> &nbsp; the cost of repairing or replacing any Company supplies, materials, equipment, money, or other property that I may damage (other than normal wear and tear), lose, fail to return, or take without appropriate authorization from the Company during my employment (except in the case of misappropriation of money by me, I understand that no such deduction will take my pay below minimum wage, or, if I am a salaried exempt employee, reduce my salary below its predetermined amount);</li>
    <li><b><u>Costs for Company Uniforms</u>:</b> &nbsp; the cost of Company uniforms and of cleaning the uniforms (the Company will deduct only the actual price it pays for uniforms and cleaning costs);</li>
    <li><b><u>Costs for Meals, Lodging and other Facilities</u>:</b> &nbsp; the reasonable cost or fair value, whichever is less, of meals, lodging, and other facilities furnished to me by the Company in connection with my employment;</li>
    <li><b><u>Costs for Administrative Fees for Garnishments or Wage Attachments</u>:</b> &nbsp; where permitted by state, federal and/or local law, administrative fees in connection with court-ordered garnishments or legally-required wage attachments of my pay, limited in extent to the amount or amounts allowed under applicable laws;</li>
    <li><b><u>Vacation or Sick Leave</u>:</b> &nbsp; if I take paid vacation or sick leave in advance of the date I would normally be entitled to it and I separate from the Company before accruing time to cover such advance leave, the value of such leave taken in advance that is not so covered;</li>
    <li><b><u>Transportation Costs</u>:</b> &nbsp; if I request and receive Company-provided transportation to and from a Pacesetter jobsite, the Company may deduct a nominal fee for each trip.</li>
    <li><b><u>Cost of Replacement Paycheck</u>:</b> &nbsp; The paycheck I receive for the hours I worked is my responsibility. If I lose or damage my check, I understand that there may be a waiting period of up to seven (7) business days before I can obtain a replacement check. I further understand that a $25.00 charge will be deducted from my replacement check for the “stop payment fee” on the lost or damaged check.</li>
    <li><b><u>Insurance Costs</u>:</b> &nbsp; my share of the premiums for the Company's group medical, dental plan, and life insurance plan;</li>
    <li><b><u>Cost of Contribution to Retirement or Investment Plans</u>:</b> &nbsp; any contributions I may make into a retirement or pension plan sponsored, controlled, or managed by the Company, including any contributions normally made on my behalf for which I would typically be responsible. Such payments will be considered a wage advance on future wages payable to me.</li>
  </ol>
  <p>I agree that the Company may deduct money from my pay under the above circumstances, or if any of the above situations occur. I further understand that the Company has stated its intention to abide by all applicable federal and state wage and hour laws and that if I believe that any such law has not been followed, I will notify the company by contacting the human resources director at 713-529-0202, ext. 240 or hr@pacesetterpersonnel.com.</p>
  <div class="w-70">
    <span class="data-value">
      {{getPrintName()}}
    </span>
    <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;">
      Applicant/Employee Print Name
    </p>
    <!-- <img *ngIf="getValue('yourSignature.signature') !== 'No Value'" [src]="getValue('yourSignature.signature')" alt=""> -->
    <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;">
      Applicant/Employee Signature
    </p>
  </div>
  <div class="w-30">
    <span class="data-value">
      {{getValue('basicInformation.ssn')}}
    </span>
    <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;">
      Social Security Number
    </p>
    <span class="data-value">
      {{getTodayDate()}}
    </span>
    <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;">
      Today's Date
    </p>
  </div>
</div>
