<div class="work-well">
  <div class="form-width">
    <h1>WORKWELL, TX</h1>
    <h2>Employee Acknowledgement of Workers' Compensation Network</h2>
    <div class="center-width">
      <p>I have received information that tells me how to get health care under workers' compensation insurance.</p>
      <p>If  I am hurt on the job and live in the service area described in this information, I understand that:</p>
      <div class="center-width">
        <p>1. I must choose a treating doctor from the list of doctors in the network. Or, I may ask my HMO                primary care physician to agree to serve as my treating doctor.If I select my HMO    primary care physician as my treating doctor, I will call Texas Mutual Insurance Company at                (844) 867-2338 to notify them of my choice.</p>
        <p>2. I must go to my treating doctor for all health care for my injury. If  I need a specialist, my treating    doctor will refer me to a specialist. If  I need emergency care, I may go anywhere.</p>
        <p>3. Texas mutual will pay the treating doctor and other network providers for the treatment for    my compensable injury.</p>
        <p>4. I may have to pay the bill if I get health care from someone other than a network doctor without    prior network approval.</p>
      </div>
      <p>Knowingly making a false workers' compensation claim may lead to a criminal investigation that could result in criminal penalties such as fines and imprisonment.</p>
    </div>
    <div class="w-40">
      <p style="border-bottom:1px solid #000;margin:0px;padding-bottom:0;padding-top: 12px;background-color: #f1f4ff;">
        <b>{{getSignaturePlaceholder()}}</b>
      </p>
      <p style="padding: 5px 0 0 0 ;margin-top:0px;">
        Signature
      </p>
    </div>
    <div class="w-20">
      <p style="border-bottom:1px solid #000;margin:0px;padding-bottom:0;padding-top: 12px;background-color: #f1f4ff;">
        <b>{{getTodayDate()}}</b>
      </p>
      <p style="padding: 5px 0 0 0 ;margin-top:0px;">
        Date
      </p>
    </div>
    <div class="w-40">
      <p style="border-bottom:1px solid #000;margin:0px;padding-bottom:0;padding-top: 12px;background-color: #f1f4ff;">
        <b>{{getPrintName()}}</b>
      </p>
      <p style="padding: 5px 0 0 0 ;margin-top:0px;">
        Printed Name
      </p>
    </div>
    <div class="w-50px">
      <p>I live at:</p>
    </div>
    <div class="w-90">
      <p style="border-bottom:1px solid #000;margin:0px;padding-bottom:0;padding-top: 12px;background-color: #f1f4ff;">
        <b>{{getValue('address.streetNo')}}, {{getValue('address.address')}}</b>
      </p>
      <p style="padding: 5px 0 0 0 ;margin-top:0px;">
        Street Address
      </p>
    </div>
    <div class="w-50px">
      <p>I live at:</p>
    </div>
    <div class="w-30">
      <p style="border-bottom:1px solid #000;margin:0px;padding-bottom:0;padding-top: 12px;background-color: #f1f4ff;">
        <b>{{getValue('address.city')}}</b>
      </p>
      <p style="padding: 5px 0 0 0 ;margin-top:0px;">
        City
      </p>
    </div>
    <div class="w-20">
      <p style="border-bottom:1px solid #000;margin:0px;padding-bottom:0;padding-top: 12px;background-color: #f1f4ff;">
        <b>{{getValueStateORCountryDetail('address.state', 'state')}}</b>
      </p>
      <p style="padding: 5px 0 0 0 ;margin-top:0px;">
        State
      </p>
    </div>
    <div class="w-40">
      <p style="border-bottom:1px solid #000;margin:0px;padding-bottom:0;padding-top: 12px;background-color: #f1f4ff;">
        <b>{{getValue('address.zipCode')}}</b>
      </p>
      <p style="padding: 5px 0 0 0 ;margin-top:0px;">
        Zip code
      </p>
    </div>
    <div class="w-l">
      <p style="float:left;">
        Name of Employer:
      </p>
      <h4 style="float:left;margin:15px;font-weight: 400;">
        SAN ANTONIO STAFFING
      </h4>
    </div>
    <div class="w-l">
      <p style="float:left;">
        Name of Network:
      </p>
      <h4 style="float:left;margin:15px;font-weight: 400;">
        Workwell, TX
      </h4>
    </div>
    <div class="WandB">
      <div class="WandBB">
        <p style="margin-top:0">
          <b>To the employer:</b>
        </p>
        <p>
          Each employee must sign this form when you begin the program or within 3 days of being hired, and at the time an injury occurs. Please indicate at which point this acknowledgement was completed.
        </p>
        <p>
          <label class="mycheckbox">
            <input type="checkbox" >
            <span class="checkmark"></span>
            Initiating the network program (companywide)
          </label>
          <label class="mycheckbox">
            <input type="checkbox" >
            <span class="checkmark"></span>
            Initial employee notificacion (new hire)
          </label>
          <label class="mycheckbox">
            <input type="checkbox" >
            <span class="checkmark"></span>
            Injury notificacion (Date of Injury)
          </label>
        </p>
        <p >Keep this completed form in the employee's personnel file. It could be requested by Texas mutual.</p>
      </div>
    </div>
  </div>
</div>
