<div class="amerigas-form">
  <div class="docs-width">
    <h1 style="padding-bottom:0px;text-align: center;margin:30px 0 0 0;font-size: 30px;">
      Safety Discipline Policy
    </h1>
    <p style="font-size:25px;margin:0;text-align:center;">For Pacesetter Personnel Services’ Employees at</p>
    <p style="font-size:25px;margin:0;text-align:center;">AmeriGas Cylinder Exchange (ACE) Facilities</p>
    <p  style="margin-top: 30px;font-size:18px;">
      All personnel (both exempt and non-exempt) working at any AmeriGas Cylinder
      Exchange (ACE) facility are expected to work in a safe and professional manner.
      The goal of this policy is to ensure that safety procedures are followed at all
      times and that discipline is imposed consistently across all ACE Regions and
      facilities. This policy applies to all personnel working at an ACE production
      facility. This includes both AmeriGas employees and employees retained
      through Pacesetter Personnel Services. Any employee not abiding by these
      rules as set forth below will be subject to disciplinary action, up to and including
      termination of employment.
    </p>
    <h3 style="margin:0;font-size:18px;padding-left:30px; ">1. Personal Protective Equipment (PPE)</h3>
    <p style="margin:0;font-size:18px;padding-left:30px; ">
      All personnel at ACE production centers must properly wear AmeriGasprovided Personal Protective Equipment in designated areas. Personal
      Protective Equipment includes; but is not limited too:
    </p>
    <ul style="float:left;width:100%;padding-left: 100px;margin-top:0;">
      <li>Safety Glasses</li>
      <li>Face Shields</li>
      <li>Static-Free Clothing and/or Shoes or Heel Grounders</li>
      <li>Gloves</li>
      <li>Hearing Protection</li>
    </ul>
    <p style="margin:0;font-size:18px;padding-left:30px;">
      Areas designated for the specific PPE set forth above will be identified with
      signage and <span style="font-weight: bold;font-style:italic;text-decoration:underline;">all personnel must wear the appropriate PPE at all times within
                this designated area.</span> If any personnel are found inside this area without
      proper PPE, they will be subject to disciplinary action, up to and including
      termination of employment.
    </p>
    <h3 style="margin:30px 0 0 0;font-size:18px;padding-left:30px; ">2. Electronic Devices</h3>
    <p  style="margin:0;font-size:18px;padding-left:30px;">

      Cell phones and other electronic devices (iPod, MP3, etc.) are not permitted
      in specific areas of the facility. These items should be left in the locker or
      personal vehicle of the personnel who possess them. If any individual is found
      inside a designated area with a cell phone or other electronic device, the
      individual will be subject to disciplinary action, up to and including termination
      of employment.
    </p>
    <h3 style="margin:30px 0 0 0;font-size:18px;padding-left:30px; ">3. Forklift Seatbelts</h3>
    <p  style="margin:0;font-size:18px;padding-left:30px;">
      Seatbelts must be worn at all times when operating a forklift. Personnel
      found operating a forklift without the seat belt fastened will be subject to
      disciplinary action, up to and including termination of employment.
    </p>
    <h3 style="margin:30px 0 0 0;font-size:18px;padding-left:30px; ">Discipline</h3>
    <p style="margin:0;font-size:18px;padding-left:30px;">

      Violation of the above safety policies will result in the discipline set forth below.
      Management will examine each case individually and consider possible
      mitigating and aggravating factors. While this policy will be used as a general
      guide, AmeriGas reserves the right to impose discipline based upon the
      circumstances of each incident. For example, where an employee is determined
      to have acted with gross negligence, a single incident may result in employment
      termination.
    </p>
    <table width="100%" cellpadding="10" cellspacing="0" style="margin-top: 30px;">
      <tr >
        <td colspan="2" style="border: 1px solid #000;">
          <p style="margin:0;"><b>Safety Violation </b></p>
          <p style="margin:0;">(Concerning but not limited too: Glasses, Face Shield, Electronic Devices, Seatbelts, Static-FeeZone, Gloves, Hearing Protection) </p>
        </td>
      </tr>
      <tr>
        <td style="border: 1px solid #000;border-top:0;" width="30%">
          <p style="margin:0;"><b>First Violation</b> </p>
        </td>
        <td style="border: 1px solid #000;border-top:0;border-left:0;">
          <p style="margin:0;">
            <b>Verbal Warning</b> – coaching session about incident <br>
            (This warning will be documented on a Disciplinary
            Report)
          </p>
        </td>
      </tr>
      <tr>
        <td style="border: 1px solid #000;border-top:0;" width="30%">
          <p style="margin:0;"><b>Second Violation </b> </p>
        </td>
        <td style="border: 1px solid #000;border-top:0;border-left:0;">
          <p style="margin:0;">
            <b>Written Warning</b> – coaching session about incident
          </p>
        </td>
      </tr>
      <tr>
        <td style="border: 1px solid #000;border-top:0;" width="30%">
          <p style="margin:0;"><b>Third Violation </b> </p>
        </td>
        <td style="border: 1px solid #000;border-top:0;border-left:0;">
          <p style="margin:0;">
            <b>Suspension</b> – three days, no pay <br>
            (Cannot substitute paid time off)
          </p>
        </td>
      </tr>
      <tr>
        <td style="border: 1px solid #000;border-top:0;" width="30%">
          <p style="margin:0;"><b>Fourth Violation  </b> </p>
        </td>
        <td style="border: 1px solid #000;border-top:0;border-left:0;">
          <p style="margin:0;">
            <b>    Termination of Employment   </b>
          </p>
        </td>
      </tr>
    </table>
    <p style="font-size:18px;">
      There will be a 12-month probation period after a safety infraction warning takes
      place. The employee will come off safety probation after they work 12 months
      without any safety violations.
    </p>
    <p style="font-size:18px;">
      All locations with a union contract will abide by the discipline procedures set forth
      in the applicable collective bargaining agreement.
    </p>
    <div style="float: left;width:100%;border:1px solid #000;padding:2px;margin-bottom: 15px;">
      <h1 style="text-align: center;">ACKNOWLEDGEMENT</h1>
      <h2 style="margin:0;text-align: center;">Safety Discipline Policy for Pacesetter Personnel Services’Employees at </h2>
      <h2 style="margin:0;text-align: center;">AmeriGas Cylinder Exchange Facilities </h2>
      <p style="font-size:18px;font-weight: bold;padding:15px;">
        I, ___________________________ have read or has been read to me the
        AmeriGas Cylinder Exchange Facilities Safety Discipline Policy. I
        understand that I am required to strictly adhere to this policy. I further
        understand that this policy will be enforced and failure to comply with the
        policy is basis for disciplinary action up to and including termination of
        employment by AmeriGas and/or Pacesetter Personnel Services.
      </p>
      <div  class="w-70" >
        <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;margin-left: 100px;margin-right:150px;">
          Date
        </p>
        <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;margin-left: 100px;margin-right:150px;">
          Date
        </p>
      </div>
      <div class="w-30">
        <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;padding-left:30px;margin-right:100px;">
          Employee’s Signature
        </p>
        <p style="border-top:1px solid #000;padding-top: 5px;margin-top:30px;padding-left:30px;margin-right:100px;">
          Employee’s Name (Printed)
        </p>
      </div>

    </div>





  </div>
</div>
