<div class="pannable-form">
  <div class="form-width">
    <div class="col-30">
      <h1>Form W-4 ({{getCurrentYear()}})</h1>
      <p><b>Future developments.</b> For the latest information about any future developments related to Form W-4, such as legislation enacted after it was published, go to www.irs.gov/FormW4.</p>
      <p><b>Purpose.</b> Complete Form W-4 so that your employer can withhold the correct federal income tax from your pay. Consider completing a new Form W-4 each year and when your personal or financial situation changes</p>
      <p><b>Exemption from withholding.</b> You may claim exemption from withholding for 2019 if <b>both</b> of the following apply.</p>
      <ul style="padding-left: 15px;margin: 0;font-size: 14px;">
        <li>For 2018 you had a right to a refund of <b>all</b> federal income tax withheld because you had no tax liability,<b> and</b></li>
        <li>For 2019 you expect a refund of <b>all</b> federal income tax withheld because you expect to have <b>no</b> tax liability.</li>
      </ul>
      <p>If you’re exempt, complete only lines 1, 2, 3, 4, and 7 and sign the form to validate it. Your exemption for 2019 expires February 17, 2020. See Pub. 505, Tax Withholding and Estimated Tax, to learn more about whether you qualify for exemption from withholding.</p>

      <h2>General Instructions</h2><p> If you aren’t exempt, follow the rest of these instructions to determine the number of withholding allowances you should claim for withholding for 2019 and any additional amount of tax to have withheld. For regular wages, withholding must be based on allowances you claimed and may not be a flat amount or percentage of wages. You can also use the calculator at <b>www.irs.gov/W4App</b> to determine your tax withholding more accurately. Consider</p>
    </div>
    <div class="col-30 aa">
      <p>
        using this calculator if you have a more complicated tax situation, such as if you have a working spouse, more than one job, or a large amount of nonwage income not subject to withholding outside of your job. After your Form W-4 takes effect, you can also use this calculator to see how the amount of tax you’re having withheld compares to your projected total tax for 2019. If you use the calculator, you don’t need to complete any of the worksheets for Form W-4. Note that if you have too much tax withheld, you will receive a refund when you file your tax return. If you have too little tax withheld, you will owe tax when you file your tax return, and you might owe a penalty.
      </p>
      <p>
        <b>Filers with multiple jobs or working spouses.</b> If you have more than one job at a time, or if you’re married filing jointly and your spouse is also working, read all of the instructions including the instructions for the Two-Earners/Multiple Jobs Worksheet before beginning.
      </p>
      <p>
        <b>Nonwage income.</b> If you have a large amount of nonwage income not subject to withholding, such as interest or dividends, consider making estimated tax payments using Form 1040-ES, Estimated Tax for Individuals. Otherwise, you might owe additional tax. Or, you can use the Deductions, Adjustments, and Additional Income Worksheet on page 3 or the calculator at www.irs.gov/W4App to make sure you have enough tax withheld from your paycheck. If you have pension or annuity income, see Pub. 505 or use the calculator at www.irs.gov/W4App to find out if you should adjust your withholding on Form W-4 or W-4P.
      </p>
      <p>
        <b>Nonresident alien.</b> If you’re a nonresident alien, see Notice 1392, Supplemental Form W-4 Instructions for Nonresident Aliens, before completing this form.
      </p>
    </div>
    <div class="col-30">
      <h2>Specific Instructions</h2>
      <h3>Personal Allowances Worksheet</h3>
      <p>
        Complete this worksheet on page 3 first to determine the number of withholding allowances to claim.
      </p>
      <p>
        <b>Line C. Head of household please note:</b> Generally, you may claim head of household filing status on your tax return only if you’re unmarried and pay more than 50% of the costs of keeping up a home for yourself and a qualifying individual. See Pub. 501 for more information about filing status.
      </p>
      <p>
        <b>Line E. Child tax credit.</b> When you file your tax return, you may be eligible to claim a child tax credit for each of your eligible children. To qualify, the child must be under age 17 as of December 31, must be your dependent who lives with you for more than half the year, and must have a valid social security number. To learn more about this credit, see Pub. 972, Child Tax Credit. To reduce the tax withheld from your pay by taking this credit into account, follow the instructions on line E of the worksheet. On the worksheet you will be asked about your total income. For this purpose, total income includes all of your wages and other income, including income earned by a spouse if you are filing a joint return.
      </p>
      <p>
        <b>Line F. Credit for other dependents.</b> When you file your tax return, you may be eligible to claim a credit for other dependents for whom a child tax credit can’t be claimed, such as a qualifying child who doesn’t meet the age or social security number requirement for the child tax credit, or a qualifying relative. To learn more about this credit, see Pub. 972. To reduce the tax withheld from your pay by taking this credit into account, follow the instructions on line F of the worksheet. On the worksheet, you will be asked about your total income. For this purpose, total
      </p>
    </div>
    <p class="dotline"><span>Separate here and give Form W-4 to your employer. Keep the worksheet(s) for your records.</span></p>
    <div class="w4-employ">
      <table width="100%" cellpadding="2" cellspacing="0">
        <tr >
          <td width="15%" class="border-bottom">
            <span class="font-10">Form</span><span class="font-30">W-4 </span>
            <span class="font-10">Department of the Treasury  Internal Revenue Service </span>
          </td>
          <td class="border-left border-right border-bottom text-center">
            <h3>Employee’s Withholding Allowance Certificate</h3>
            <p class="font-10" ><b>▶ Whether you’re entitled to claim a certain number of allowances or exemption from withholding is <br> subject to review by the IRS. Your employer may be required to send a copy of this form to the IRS.</b> </p>
          </td>
          <td width="15%" class="border-bottom">
            <p class="font-10 text-center">OMB No. 1545-0074</p>
            <h2 class="font-30 text-center">{{getCurrentYear()}}</h2>
          </td>
        </tr>
      </table>
      <table width="100%" cellpadding="2" cellspacing="0">
        <tr>
          <td width="33%" class="border-bottom">
            <p class="font-10">&nbsp;<b style="padding:0 8px;"> 1 </b>  &nbsp;    Your first name and middle initial</p>
            <p class="background-color">
              <b>{{getValue('basicInformation.firstName')}} {{getValue('basicInformation.middleName')}}</b>
            </p>
          </td>
          <td  width="%" class="border-left border-right border-bottom ">
            <p class="font-10"> &nbsp;Last name</p>
            <p class="background-color">
              <b>{{getValue('basicInformation.lastName')}}</b>
            </p>
          </td>
          <td width="30%" class="border-bottom" >
            <p class="font-10">&nbsp;<b style="padding:0 8px;"> 2</b> &nbsp;  Your social security number</p>
            <p class="background-color">
              <b>{{getValue('basicInformation.socialSecurityNo')}}</b>
            </p>
          </td>
        </tr>
      </table>
      <table width="100%" cellpadding="1" cellspacing="0">
        <tr>
          <td class="border-bottom" width="42%">
            <p class="font-10">&nbsp;Home address (number and street or rural route) </p>
            <p class="background-color">
              <b>{{getAddress()}}</b>
            </p>
          </td>
          <td class="border-bottom border-left" >
            <p style="padding-top: 2px;" class="font-10">&nbsp; <b style="padding:0 8px;">3 </b>
              <label class="mycheckbox"> Single
                <input type="checkbox" [checked]="getValue('w4Information.w4MaritalStatus') === 'S'">
                <span class="checkmark"></span>
              </label>
              <label class="mycheckbox"> Married
                <input type="checkbox" [checked]="getValue('w4Information.w4MaritalStatus') === 'M'">
                <span class="checkmark"></span>
              </label>
              <label class="mycheckbox"> Married, but withhold at higher Single rate
                <input type="checkbox" [checked]="getValue('w4Information.w4MaritalStatus') === 'H'">
                <span class="checkmark"></span>
              </label>
            </p>
            <p style="padding-top: 3px;" class="font-10">&nbsp;<b style="padding-left: 30px;">Note:</b> If married filing separately, check “Married, but withhold at higher Single rate.” </p>
          </td>
        </tr>
        <tr >
          <td class="border-bottom"  >
            <p class="font-10"> &nbsp;City or town, state, and ZIP code</p>
            <p class="background-color">
              <b>
                {{getValue('address.city')}}, {{getValueStateORCountryDetail('address.state', 'state')}}, {{getValue('address.zipCode')}}
              </b>
            </p>
          </td>
          <td class="border-bottom border-left" >
            <p class="font-10">
              &nbsp;<b style="padding:0 8px;float:left;width:10px;margin-right: 13px;">4 </b><b style="width: 89%;float:left;">If your last name differs from that shown on your social security card,
              check here. You must call 800-772-1213 for a replacement card. ▶</b> &nbsp;
              <label class="mycheckbox">
                <input type="checkbox" >
                <span class="checkmark"></span>
              </label>
            </p>
          </td>
        </tr>

      </table>
      <table width="100%" cellpadding="1" cellspacing="0">
        <tr >
          <td>
            <p class="font-10">&nbsp; <b style="padding:0 8px;">5</b> Total number of allowances you’re claiming (from the applicable worksheet on the following pages) . . . .  .</p>
          </td>
          <td class="border-bottom border-left" width="15">
            <p class="font-10 text-center"><b> 5</b></p>

          </td>
          <td class="border-bottom border-left" width="100">
            <p class="background-color text-center">
              <b>{{getValue('w4Information.w4TotalAllowances')}}</b>
            </p>

          </td>
        </tr>
        <tr >
          <td>
            <p class="font-10">&nbsp; <b style="padding:0 8px;">6</b> Additional amount, if any, you want withheld from each paycheck . . . . . . . . . . . . . . . . . . . . . . . . .. . . .</p>
          </td>
          <td class="border-bottom border-left" width="15">
            <p class="font-10 text-center"><b > 6</b></p>

          </td>
          <td class="border-bottom border-left" width="100">
            <p class="background-color text-center">$ <b>0</b></p>

          </td>
        </tr>
      </table>
      <table width="100%" cellpadding="1" cellspacing="0">
        <tr>
          <td>
            <p class="font-10"> &nbsp;<b style="padding:0 8px;"> 7</b> I claim exemption from withholding for 2019, and I certify that I meet both of the following conditions for exemption.</p>
            <p class="font-10" style="padding-left: 30px;"> • Last year I had a right to a refund of all federal income tax withheld because I had no tax liability, and</p>
            <p class="font-10" style="padding-left: 30px;"> • This year I expect a refund of all federal income tax withheld because I expect to have no tax liability</p>
          </td>
          <td class=" border-left black-light "  width="100">

          </td>
        </tr>
      </table>
      <table width="100%" cellpadding="2" cellspacing="0">
        <tr class="">
          <td >
            <p  class="font-10" style="padding-left: 30px;">If you meet both conditions, write “Exempt” here . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ▶</p>
          </td>
          <td class=" border-top border-left" width="15">
            <p class="font-10 text-center"><b > 7</b></p>
          </td>
          <td class=" border-left border-top "  width="170">
            <p class="background-color text-center">
              {{
                getValue('w4Information.w4_Exempt') ? 'Exempt' : ''
              }}
            </p>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="border-top">
            <p class="font-10">Under penalties of perjury, I declare that I have examined this certificate and, to the best of my knowledge and belief, it is true, correct, and complete</p>
          </td>
        </tr>
      </table>
      <table width="100%" cellpadding="1" cellspacing="0">
        <tr >
          <td class="border-bottom">
            <p class="font-10"><b>Employee’s signature </b></p>
            <p class="font-10">(This form is not valid unless you sign it.) ▶   <b>{{getSignaturePlaceholder()}}</b></p>

          </td>
          <td class="border-bottom" width="30%">
            <p>  &nbsp;</p>
            <p class="font-10">Date ▶   <b>{{getTodayDate()}}</b></p>
          </td>
        </tr>
      </table>
      <table width="100%" cellpadding="1" cellspacing="0">
        <tr>
          <td class="border-bottom">
            <p class="font-10">
              &nbsp; <b style="padding:0 8px;float:left;width: 30px;">8</b><span style="width: 90%;float:left;"> Employer’s name and address (<b>Employer</b>: Complete boxes 8 and 10 if sending to IRS and complete
                                        boxes 8, 9, and 10 if  sending to State Directory of New Hires.)</span>
            </p>
            <p class="background-color"></p>
          </td>
          <td class="border-left border-bottom">
            <p class="font-10"> &nbsp; <b style="padding:0 8px;float:left;width: 30px;">9 </b><span style="width: 70%;float:left;">First date of
                                        employment</span></p>
            <p class="background-color"></p>
          </td>
          <td  width="25%" class="border-left border-bottom">
            <p class="font-10"> &nbsp; <b style="padding:0 8px;float:left;width: 30px;">10</b><span style="width: 70%;float:left;"> Employer identification
                                        number (EIN)</span></p>
            <p class="background-color"></p>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
