<div class="w4-pages">
  <div class="form-width">
    <div class="w4-employ-page">
      <table width="100%" cellpadding="20" cellspacing="0">
        <tr >
          <td width="50%">
            <h2>General Instructions</h2>
            <h3>Future Developments</h3>
            <p>

              For the latest information about developments related to
              Form W-4, such as legislation enacted after it was published,
              go to<span class="italic"> www.irs.gov/FormW4.</span>
            </p>
            <h3>Purpose of Form</h3>
            <p>
              Complete Form W-4 so that your employer can withhold the
              correct federal income tax from your pay. If too little is
              withheld, you will generally owe tax when you file your tax
              return and may owe a penalty. If too much is withheld, you will
              generally be due a refund. Complete a new Form W-4 when
              changes to your personal or financial situation would change
              the entries on the form. For more information on withholding
              and when you must furnish a new Form W-4, see Pub. 505.
            </p>
            <p>
              <span class="bold">Exemption from withholding.</span> You may claim exemption from
              withholding for 2020 if you meet both of the following
              conditions: you had no federal income tax liability in 2019 and
              you expect to have no federal income tax liability in 2020. You
              had no federal income tax liability in 2019 if (1) your total tax on
              line 16 on your 2019 Form 1040 or 1040-SR is zero (or less
              than the sum of lines 18a, 18b, and 18c), or (2) you were not
              required to file a return because your income was below the
              filing threshold for your correct filing status. If you claim
              exemption, you will have no income tax withheld from your
              paycheck and may owe taxes and penalties when you file your
              2020 tax return. To claim exemption from withholding, certify
              that you meet both of the conditions above by writing “Exempt”
              on Form W-4 in the space below Step 4(c). Then, complete
              Steps 1(a), 1(b), and 5. Do not complete any other steps. You
              will need to submit a new Form W-4 by February 16, 2021.
            </p>
            <p>
              <span class="bold">Your privacy.</span> If you prefer to limit information provided in
              Steps 2 through 4, use the online estimator, which will also
              increase accuracy.
            </p>
            <p class="padding-left-15">
              As an alternative to the estimator: if you have concerns
              with Step 2(c), you may choose Step 2(b); if you have
              concerns with Step 4(a), you may enter an additional amount
              you want withheld per pay period in Step 4(c). If this is the
              only job in your household, you may instead check the box
              in Step 2(c), which will increase your withholding and
              significantly reduce your paycheck (often by thousands of
              dollars over the year).
            </p>
            <p>
              When to use the estimator. Consider using the estimator at
              <span class="italic">www.irs.gov/W4App</span> if you:
            <ol>
              <li> Expect to work only part of the year; </li>
              <li> Have dividend or capital gain income, or are subject to
                additional taxes, such as the additional Medicare tax;</li>
              <li> Have self-employment income (see below); or</li>
              <li>Prefer the most accurate withholding for multiple job
                situations.</li>
            </ol>
<!--            </p>-->
            <p>
              <span class="bold">Self-employment.</span> Generally, you will owe both income and
              self-employment taxes on any self-employment income you
              receive separate from the wages you receive as an
              employee. If you want to pay these taxes through
              withholding from your wages, use the estimator at
              www.irs.gov/W4App to figure the amount to have withheld.
            </p>
            <p>
              <span class="bold">Nonresident alien.</span> If you’re a nonresident alien, see Notice
              1392, Supplemental Form W-4 Instructions for Nonresident
              Aliens, before completing this form.
            </p>
          </td>
          <td  width="50%" style="vertical-align: top;">
            <h2>Specific Instructions</h2>
            <p>
              <span class="bold">Step 1(c).</span> Check your anticipated filing status. This will
              determine the standard deduction and tax rates used to
              compute your withholding.
            </p>
            <p>
              <span class="bold">Step 2.</span> Use this step if you (1) have more than one job at the
              same time, or (2) are married filing jointly and you and your
              spouse both work.
            </p>
            <p class="padding-left-15">
              Option <span class="bold">(a)</span> most accurately calculates the additional tax
              you need to have withheld, while option <span class="bold">(b)</span> does so with a
              little less accuracy.
            </p>
            <p class="padding-left-15">
              If you (and your spouse) have a total of only two jobs, you
              may instead check the box in option <span class="bold">(c)</span>. The box must also be
              checked on the Form W-4 for the other job. If the box is
              checked, the standard deduction and tax brackets will be cut
              in half for each job to calculate withholding. This option is
              roughly accurate for jobs with similar pay; otherwise, more tax
              than necessary may be withheld, and this extra amount will be
              larger the greater the difference in pay is between the two jobs.
            </p>
            <div class="caution">
              <img src="/assets/img/caution.png">
              <p>
                Multiple jobs. Complete Steps 3 through 4(b) on only
                one Form W-4. Withholding will be most accurate if
                you do this on the Form W-4 for the highest paying job.
              </p>
            </div>
            <p>
              <span class="bold">Step 3.</span> Step 3 of Form W-4 provides instructions for
              determining the amount of the child tax credit and the credit
              for other dependents that you may be able to claim when
              you file your tax return. To qualify for the child tax credit, the
              child must be under age 17 as of December 31, must be
              your dependent who generally lives with you for more than
              half the year, and must have the required social security
              number. You may be able to claim a credit for other
              dependents for whom a child tax credit can’t be claimed,
              such as an older child or a qualifying relative. For additional
              eligibility requirements for these credits, see Pub. 972, Child
              Tax Credit and Credit for Other Dependents. You can also
              include <span class="bold">other tax credits</span> in this step, such as education tax
              credits and the foreign tax credit. To do so, add an estimate
              of the amount for the year to your credits for dependents
              and enter the total amount in Step 3. Including these credits
              will increase your paycheck and reduce the amount of any
              refund you may receive when you file your tax return.
            </p>
            <h4>Step 4 (optional).</h4>
            <p class="padding-left-15">
              <span class="bold"> Step 4(a).</span> Enter in this step the total of your other
              estimated income for the year, if any. You shouldn’t include
              income from any jobs or self-employment. If you complete
              Step 4(a), you likely won’t have to make estimated tax
              payments for that income. If you prefer to pay estimated tax
              rather than having tax on other income withheld from your
              paycheck, see Form 1040-ES, Estimated Tax for Individuals.
            </p>
            <p class="padding-left-15">
              <span class="bold">Step 4(b).</span> Enter in this step the amount from the Deductions
              Worksheet, line 5, if you expect to claim deductions other than
              the basic standard deduction on your 2020 tax return and
              want to reduce your withholding to account for these
              deductions. This includes both itemized deductions and other
              deductions such as for student loan interest and IRAs.
            </p>
            <p class="padding-left-15">
              <span class="bold">Step 4(c).</span> Enter in this step any additional tax you want
              withheld from your pay each pay period, including any
              amounts from the Multiple Jobs Worksheet, line 4. Entering an
              amount here will reduce your paycheck and will either increase
              your refund or reduce any amount of tax that you owe.
            </p>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
